<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace = "~{fragments/admin/header/headertop :: head}"></div>
    <title>Chi tiết lịch hẹn</title>
    <link th:href="@{/css/admin/danh-sach-lich-hen.css}" th:rel="stylesheet" >
</head>
<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color); setTimeout(() => showToastr = false, 3000);" :class="{ 'dark': isDark}">
    <div class="flex min-h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div th:replace = "~{fragments/admin/loading/loading :: loading}"></div>
        <!-- Sidebar -->
        <div th:replace = "~{fragments/admin/sidebar/sidebar :: sidebar (page='danh-sach-lich-hen')}"></div>

        <div class="flex-1 min-h-full overflow-x-hidden relative pb-20">
            <!-- Navbar -->
            <div th:replace = "~{fragments/admin/header/headertop :: header}"></div>
            <!-- Main content -->
            <main>
                <div th:replace = "~{fragments/admin/pages/chi-tiet-lich-hen :: content}"></div>
            </main>

            <!-- Main footer -->
            <div th:replace = "~{fragments/admin/footer/footer :: footer}"></div>
            <!-- Modals -->
            <div th:replace = "~{fragments/admin/modal/modal :: appointmentDetailModal}"></div>
        </div>

        <!-- Panels -->
        <div th:replace = "~{fragments/admin/panel/panel :: panel}"></div>
    </div>
</div>
<!-- Script -->
<div th:replace = "~{fragments/admin/script/chi-tiet-lich-hen-script :: script}"></div>
</body>
</html>
