<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="pagination" th:if="${page.totalPage > 0}" class="flex flex-col items-center my-12">
        <div class="flex text-gray-700">
            <a th:if="${page.showFirstPage == true}" th:href="@{${#httpServletRequest.requestURI}(page = 1, search = ${search})}"
               class="hover:bg-blue-500 hover:text-white h-12 w-12 mr-1 flex justify-center items-center rounded-full bg-white cursor-pointer shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-left w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </a>
            <div th:if="${page.showFirstPage == false}"
                 class="h-12 w-12 mr-1 flex justify-center items-center rounded-full bg-white shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-left w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </div>
            <a th:if="${page.showPreviousPage == true}" th:href="@{${#httpServletRequest.requestURI}(page = ${page.currentPage - 1}, search = ${search})}"
               class="hover:bg-blue-500 hover:text-white h-12 w-12 mr-1 flex justify-center items-center rounded-full bg-white cursor-pointer shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-left w-6 h-6">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </a>
            <div th:if="${page.showPreviousPage == false}"
                 class="h-12 w-12 mr-1 flex justify-center items-center rounded-full bg-white shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-left w-6 h-6">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </div>
            <div class="flex h-12 font-medium rounded-full bg-white shadow-lg">
                <th:block th:each="i:${#numbers.sequence(page.startPage,page.endPage)}">
                    <a
                            th:href="@{${#httpServletRequest.requestURI}(page=${i}, search=${search})}"
                            th:classappend="${page.currentPage == i} ? 'bg-green-700 text-white': ''"
                            th:text="${i}"
                            class="w-12 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">

                    </a>
                </th:block>
            </div>
            <a th:if="${page.showNextPage == true}" th:href="@{${#httpServletRequest.requestURI}(page = ${page.currentPage + 1}, search = ${search})}"
               class="hover:bg-blue-500 hover:text-white h-12 w-12 ml-1 flex justify-center items-center rounded-full bg-white cursor-pointer shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-right w-6 h-6">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </a>
            <div th:if="${page.showNextPage == false}"
                 class="h-12 w-12 ml-1 flex justify-center items-center rounded-full bg-white shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-right w-6 h-6">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </div>
            <a th:if="${page.showEndPage == true}" th:href="@{${#httpServletRequest.requestURI}(page = ${page.totalPage}, search = ${search})}"
               class="hover:bg-blue-500 hover:text-white h-12 w-12 ml-1 flex justify-center items-center rounded-full bg-white cursor-pointer shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-right w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
            </a>
            <div th:if="${page.showEndPage == false}"
                 class="h-12 w-12 ml-1 flex justify-center items-center rounded-full bg-white shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-right w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
            </div>
        </div>
    </div>
</body>
</html>