<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Chi tiết lịch hẹn</h1>
    </div>

    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex flex-col bg-white w-full relative font-medium text-xl px-4 py-4 text-gray-700">
            <div class="grid grid-cols-3 gap-4">
                <img th:src="${schedule.customer.avatar}" class="mr-5 w-40 h-eqw bg-gray-100 rounded">
                <div class="grid grid-rows-4">
                    <p class="mb-1 text-xl" th:text="'Khách hàng: ' + ${schedule.customer.fullName}"></p>
                    <p class="mb-1 text-xl"
                       th:text="'Điện thoại: ' + ${schedule.customer.phone  != null ? schedule.customer.phone : 'Không'}"></p>
                    <p class="mb-1 text-xl"
                       th:text="'Hòm thư: ' + ${schedule.customer.email  == true ? schedule.customer.email : 'Không'}"></p>
                    <p class="mb-1 text-xl"
                       th:text="'Giới tính: ' + ${schedule.customer.gender  == true ? 'Nam' : 'Nữ'}"></p>
                </div>
                <div class="grid grid-rows-4">
                    <p class="mb-1 text-xl" th:text="'Ngày hẹn: ' + ${schedule.date}"></p>
                    <p class="flex mb-1 text-xl">
                        <span class="mb-1 text-xl" th:text="'Khung giờ: ' + ${schedule.timeSlot.timeStart} + ' - ' + ${schedule.timeSlot.timeEnd}"></span>
                        <th:block th:if="${conflict == true}">
                            <button
                                    x-on:mouseover="conflictTooltip = true" x-on:mouseleave="conflictTooltip = false"
                                    class="relative h-7"
                            >
                                <span class="sr-only">Open settings panel</span>
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     fill="#ff0000">
                                    <style>@keyframes n-info-cir {
                                               0%, to {
                                                   transform: rotate(0deg);
                                                   transform-origin: center
                                               }
                                               10%, 90% {
                                                   transform: rotate(2deg)
                                               }
                                               20%, 40%, 60% {
                                                   transform: rotate(-6deg)
                                               }
                                               30%, 50%, 70% {
                                                   transform: rotate(6deg)
                                               }
                                               80% {
                                                   transform: rotate(-2deg)
                                               }
                                           }</style>
                                    <g style="animation:n-info-cir .8s cubic-bezier(.455,.03,.515,.955) both infinite">
                                        <circle cx="12.29" cy="12" r="8" stroke="#ff0000" stroke-width="1.5"/>
                                        <path stroke="#fff" stroke-linecap="round" stroke-width="1.5"
                                              d="M12.29 8.143v4.55"/>
                                        <circle cx="12.29" cy="14.957" r=".9" fill="#fff"/>
                                    </g>
                                </svg>
                                <span class="relative" x-cloak x-show.transition.origin.top="conflictTooltip">
                                    <span class="absolute top-2 z-10 w-max p-2 -mt-1 text-sm leading-tight text-white transform -translate-x-1/2 bg-black rounded-full">
                                        Conflict
                                    </span>
                                </span>
                            </button>
                        </th:block>
                    </p>
                    <p class="mb-1 text-xl">
                        Trạng thái:
                        <th:block th:switch="${schedule.status}">
                            <span th:case="1"> Nháp</span>
                            <span th:case="2"> Nháp</span>
                            <span th:case="3"> Nháp</span>
                            <span th:case="4"> Chờ duyệt</span>
                            <span th:case="5"> Trả về</span>
                            <span th:case="6"> Hoạt động</span>
                            <span th:case="7"> Hủy bỏ</span>
                            <span th:case="8"> Từ chối</span>
                            <span th:case="9"> Hoàn thành</span>
                            <span th:case="10"> Hoàn thành</span>
                        </th:block>
                    </p>

                </div>
            </div>
            <div class="flex flex-col">
                <p class="mb-1 text-xl bold">Ghi chú:</p>
                <p class="mb-1 text-xl" th:text="${schedule.note != null ? schedule.note : 'Không'}"></p>
            </div>
            <div th:if="${schedule.userStarRate != null}" class="flex">
                <p class="mb-1 text-xl" th:text="'Đánh giá sao: ' + ${schedule.userStarRate}"></p>
            </div>
            <div th:if="${schedule.userContentRate != null}" class="flex">
                <p class="mb-1 text-xl" th:text="'Đánh giá: ' + ${schedule.userContentRate}"></p>
            </div>
            <th:block th:if="${schedule.doctor != null}">
                <th:block th:if="${schedule.status == 4}">
                    <div class="mt-10 flex justify-center">
                        <div class="flex justify-between">
                            <th:block th:if="${conflict != true}">
                                <button class="flex bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-10"
                                        @click="isAcceptAppointmentModalOpen = true">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pointer-events-none"
                                         fill="none">
                                        <style>
                                            .rotate-right {
                                                animation: rotate-right 1s cubic-bezier(1, -0.01, 0.13, 1.15) infinite alternate-reverse both;
                                                transform-origin: top center;
                                            }

                                            @keyframes rotate-right {
                                                0% {
                                                    transform: rotate(0);
                                                }
                                                25% {
                                                    transform: rotate(10deg);
                                                }
                                                50%
                                                {
                                                    transform: rotate(0deg);
                                                }
                                                100%
                                                {
                                                    transform: rotate(-10deg);
                                                }
                                            }
                                        </style>
                                        <g class="rotate-right">
                                            <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M9.5 7.307h5"/>
                                            <path stroke="#FFF" stroke-width="1.5"
                                                  d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                        </g>
                                    </svg>
                                    Duyệt
                                </button>
                            </th:block>
                            <th:block th:if="${conflict == true}">
                                <button type="button" class="flex bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-10"
                                        @click="openResetInput"
                                >
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                                        <style>@keyframes check {
                                                   to {
                                                       stroke-dashoffset: 0;
                                                   }
                                               }</style>
                                        <path stroke="#FFF" stroke-linecap="round" stroke-width="1.5"
                                              d="M5.387 12.68l3.955 3.956 9.271-9.272"
                                              style="animation:check 2s infinite cubic-bezier(.99,-.1,.01,1.02)"
                                              stroke-dashoffset="100"
                                              stroke-dasharray="100"/>
                                    </svg>
                                    Yêu cầu đặt lại
                                </button>
                            </th:block>
                            <button type="button" class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-10"
                                    @click="openRejectInput"
                            >
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     fill="none">
                                    <style>@keyframes rotate-tr {
                                               0% {
                                                   transform: rotate(0)
                                               }
                                               to {
                                                   transform: rotate(20deg)
                                               }
                                           }</style>
                                    <path fill="#FFF"
                                          d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                    <path fill="#FFF" fill-rule="evenodd"
                                          d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                          clip-rule="evenodd"
                                          style="animation:rotate-tr 1s cubic-bezier(1,-.28,.01,1.13) infinite alternate-reverse both;transform-origin:right center"/>
                                </svg>
                                Từ chối
                            </button>
                        </div>
                    </div>
                </th:block>
                <div class="mt-10 flex flex-col" x-show="isRejectAppointmentModalInputOpen">
                    <form th:action="'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/'+ ${id} + '/tu-choi'" method="POST">
                        <div class="flex">
                        <textarea
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                rows="3"
                                name="content"
                                placeholder="Ghi lý do từ chối lịch hẹn"
                        ></textarea>
                        </div>
                        <div class="mt-2 flex justify-end">
                            <button type="submit" class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-10"
                            >
                                Từ chối
                            </button>
                        </div>
                    </form>
                </div>

                <div class="mt-10 flex flex-col" x-show="isResetAppointmentModalInputOpen">
                    <form th:action="'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/'+ ${id} + '/tra-ve'" method="POST">
                        <div class="flex">
                        <textarea
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                rows="3"
                                name="content"
                                placeholder="Ghi lý do trả lịch hẹn"
                        ></textarea>
                        </div>
                        <div class="mt-2 flex justify-end">
                            <button type="submit" class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-10"
                            >
                                Trả về
                            </button>
                        </div>
                    </form>
                </div>

                <div class="mt-10 flex flex-col">
                    <div>
                        <p class="text-2xl bold">Bác sĩ</p>
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <img th:src="${schedule.doctor.avatar}" class="mr-5 w-40 h-eqw bg-gray-100 rounded">
                        <div class="grid grid-rows-4">
                            <p class="mb-1 text-xl" th:text="'Tên: ' + ${schedule.doctor.fullName}"></p>
                            <p class="mb-1 text-xl"
                               th:text="'Điện thoại: ' + ${schedule.doctor.phone  != null ? schedule.doctor.phone : 'Không'}"></p>
                            <p class="mb-1 text-xl"
                               th:text="'Hòm thư: ' + ${schedule.doctor.email  == true ? schedule.doctor.email : 'Không'}"></p>
                            <p class="mb-1 text-xl"
                               th:text="'Giới tính: ' + ${schedule.doctor.gender  == true ? 'Nam' : 'Nữ'}"></p>
                        </div>
                    </div>
                    <p class="text-xl my-4 bold">Lịch hẹn của bác sĩ trong thời gian gần</p>
                    <div class="flex">
                        <table class="w-full">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-left text-xs app-color-black pb-5">BÁC SĨ</th>
                                <th class="text-left text-xs app-color-black pb-5">KHÁCH HÀNG</th>
                                <th class="text-left text-xs app-color-black pb-5">ĐIỆN THOẠI</th>
                                <th class="text-left text-xs app-color-black pb-5">NGÀY</th>
                                <th class="text-left text-xs app-color-black pb-5">KHUNG GIỜ</th>
                                <th class="text-left text-xs app-color-black pb-5">KẾT THÚC</th>
                                <th class="text-left text-xs app-color-black pb-5">TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="item,index : ${doctorAppointment}">
                                <tr class="app-border-1">
                                    <td>
                                        <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                             viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M4 8h16M4 16h16"></path>
                                        </svg>
                                    </td>
                                    <td>
                                        <div th:text="${index.count}"
                                             class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                             th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                                        ></div>
                                    </td>
                                    <td>
                                        <th:block th:if="${item.doctor != null}">
                                            <div class="flex flex-row py-3">
                                                <img th:src="${item.doctor.avatar}"
                                                     class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                                <div class="flex flex-col">
                                    <span th:text="${item.doctor.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                                    <span th:text="${item.doctor.gender ? 'Nam' : 'Nữ'}"
                                                          class="font-semibold text-xs app-color-gray-1"></span>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${item.doctor == null}">
                                            <div class="flex flex-row py-3">
                                                <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                            </div>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${item.customer != null}">
                                            <div class="flex flex-row py-3">
                                                <img th:src="${item.customer.avatar}"
                                                     class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                                <div class="flex flex-col">
                                    <span th:text="${item.customer.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                                    <span th:text="${item.customer.gender ? 'Nam' : 'Nữ'}"
                                                          class="font-semibold text-xs app-color-gray-1"></span>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${item.customer == null}">
                                            <div class="flex flex-row py-3">
                                                <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                            </div>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${item.customer != null}">
                                            <span th:text="${item.customer.phone}"
                                                  class="font-semibold text-sm app-color-gray-1"></span>
                                        </th:block>
                                        <th:block th:if="${item.customer != null}">
                                            <span class="font-semibold text-sm app-color-gray-1 invisible"></span>
                                        </th:block>
                                    </td>
                                    <td>
                                        <span th:text="${item.date}"
                                              class="font-semibold text-sm app-color-gray-1"></span>
                                    </td>
                                    <td>
                                        <th:block th:if="${item.timeSlot != null}">
                                <span class="font-semibold text-sm app-color-gray-1">
                                    <span th:text="${item.timeSlot.timeStart}"></span>
                                    -
                                    <span th:text="${item.timeSlot.timeEnd}"></span>
                                </span>
                                        </th:block>
                                        <th:block th:if="${item.timeSlot == null}">
                                            <span class="font-semibold text-sm invisible">00:00 - 00:00</span>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${item.timeEnd != null}">
                                            <div th:text="${item.timeEnd}"
                                                 class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md"></div>
                                        </th:block>
                                        <th:block th:if="${item.timeEnd == null}">
                                            <div class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md invisible"></div>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:switch="${item.status}">
                                            <span th:case="1" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                            <span th:case="2" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                            <span th:case="3" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                            <span th:case="4" class="font-semibold text-sm text-blue-500">Chờ duyệt</span>
                                            <span th:case="5" class="font-semibold text-sm text-yellow-500">Trả về</span>
                                            <span th:case="6" class="font-semibold text-sm text-green-500">Hoạt động</span>
                                            <span th:case="7" class="font-semibold text-sm text-red-500">Hủy bỏ</span>
                                            <span th:case="8" class="font-semibold text-sm text-red-500">Từ chối</span>
                                            <span th:case="9" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                                            <span th:case="10" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                                        </th:block>
                                    </td>
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3"
                                             fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                                        </svg>
                                    </td>
                                </tr>
                            </th:block>
                            <th:block th:if="${doctorAppointment == null}">
                                <tr>
                                    <td colspan="10" class="app-border-1 text-center font-medium py-2">Danh sách rỗng
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>