<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Chi tiết chuyên khoa</h1>
    </div>

    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex bg-white w-full relative font-medium text-xl px-4 pt-4 text-gray-700">
            <form th:action="${#httpServletRequest.requestURI + '/update-name'}" method="POST" class="flex">
                Chuyên khoa: &ensp;
                <p th:text="${specialty.name}" class="px-2" x-show="!updateNameCheck"></p>
                <input type="text"
                       x-show="updateNameCheck"
                       th:value="${specialty.name}"
                       name="name"
                       class="px-2 appearance-none border-2 border-gray-500 rounded text-gray-700 leading-tight">
                <svg
                        @click="updateNameCheck = !updateNameCheck"
                        x-show="!updateNameCheck"
                        xmlns="http://www.w3.org/2000/svg"
                        class="ml-3 h-6 w-6 hover:text-green-400 cursor-pointer"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <title>Sửa</title>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
                <button type="submit" x-show="updateNameCheck" class="bg-green-500 hover:bg-green-700 text-white font-bold px-4 rounded-full ml-4">Sửa</button>
            </form>

        </div>
        <div class="bg-white w-full relative items-center justify-center">
            <div class="container px-4 py-4 mx-auto">
                <h3 class="block text-lg text-gray-700 font-semibold mb-3 ">Thống kê</h3>
                <div class="flex">
                    <div class="w-1/2">
                        <div class="rounded-md p-6 bg-white shadow">
                            <div class="mb-2 pb-2">
                                <h3 class="font-semibold text-lg text-gray-600">Lịch hẹn</h3>
                                <p class="text-sm text-gray-500">Số lượng trong 3 tháng gần nhất</p>
                            </div>
                            <div id="chartdiv" class="w-full" style="height: 240px"></div>
                        </div>
                    </div>
                    <div class="w-1/2 ml-4">
                        <div class="rounded-md p-6 bg-white shadow">
                            <div class="mb-2 pb-2">
                                <h3 class="font-semibold text-lg text-gray-600">Lịch hẹn</h3>
                                <p class="text-sm text-gray-500">Phân loại từ trước tới nay</p>
                            </div>
                            <div id="chartdiv2" class="w-full" style="height: 240px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white w-full relative items-center justify-center">
            <div class="container px-4 py-4 mx-auto">
                <h3 class="block text-lg text-gray-700 font-semibold mb-3 ">Danh sách bác sĩ</h3>
                <div class="flex justify-between">
                    <div class="items-center flex">
                        <input @click="toggleAllCheckboxes()" class="ml-4 form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                               type="checkbox" id="checkAll" x-model="selectAll">
                        <label class="form-check-label font-semibold inline-block text-gray-800" for="checkAll">
                            Chọn tất cả
                        </label>
                    </div>
                    <div>
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-4"
                                @click="isInsertDoctorModalOpen = true">
                            Thêm bác sĩ
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-4"
                                @click="isDeleteDoctorModalOpen = true">
                            Xóa
                        </button>
                        <button class=" text-white font-bold py-2 px-4 rounded"
                                @click="isUpdateDoctorModalOpen = true"
                                x-bind:disabled="updateCheck"
                                :class="updateCheck ? 'bg-gray-500 cursor-default' : 'bg-blue-500 hover:bg-blue-700'">
                            Lưu thay đổi
                        </button>
                    </div>
                </div>
                <ul class="flex flex-col mt-5 list-none border-t border-gray-400">
                    <style>
                        li:hover {
                            z-index: 30;
                        }
                    </style>
                    <template x-if="doctorList != null">
                        <template x-for="(item,index) in doctorList" :key="item.id">
                            <li
                                    @click="function(){$event.target.querySelector('input').checked = !$event.target.querySelector('input').checked; selectAll = false}"
                                    class="border-b bg-white border-gray-400 py-3 hover:shadow-2xl hover:border-white transform hover:scale-105 hover:text-white hover:bg-blue-500 rounded inline-block cursor-pointer relative">
                                <input class="ml-4 w-4 h-4 pointer-events-none" type="checkbox" :id="'checkbox-'+index" x-bind:value="item.id">
                                <label class="ml-5 pointer-events-none" x-text="item.fullName" x-bind:for="'checkbox-'+index"></label>
                            </li>
                        </template>
                    </template>
                    <template x-if="doctorList.length == 0">
                        <li class="flex justify-center border-b bg-white border-gray-400 py-3">
                            Danh sách rỗng
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
