<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Danh sách chuyên khoa</h1>
    </div>

    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex text-gray-600 bg-white justify-between">
            <div class="relative pt-2 ml-10">
                <form action="">
                    <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                           type="search" name="search" placeholder="Tìm kiếm" th:value="${search}">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                             xml:space="preserve"
                             width="512px" height="512px">
                            <path
                                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                        </svg>
                    </button>
                </form>

            </div>
            <div class="pt-2 mr-10">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        @click="isModalOpen = true">
                    Thêm chuyên khoa
                </button>
            </div>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${specialtyList.pageIndex == 0 && specialtyList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">TÊN</th>
                    <th class="text-left text-xs app-color-black pb-5">SỐ BÁC SĨ</th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY TẠO</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${specialtyList.data}">
                    <tr class="app-border-1 h-14">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
                            <a th:href="@{${#httpServletRequest.requestURI + '/chi-tiet/' + item.id}}">
                                <span th:text="${item.name}" class="font-semibold text-sm app-color-gray-1"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{${#httpServletRequest.requestURI + '/chi-tiet/' + item.id}}">
                                <span th:text="${item.totalDoctor}" class="font-semibold text-sm app-color-gray-1"></span>
                            </a>

                        </td>
                        <td>
                            <a th:href="@{${#httpServletRequest.requestURI + '/chi-tiet/' + item.id}}">
                                <span th:text="${#temporals.format(item.createdAt, 'dd-MM-yyyy')}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                            </a>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${specialtyList.data.size() == 0}">
                    <tr>
                        <td colspan="9" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace = "~{fragments/admin/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>
