<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Danh sách khách hàng</h1>
    </div>

    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex text-gray-600 bg-white justify-between">
            <div class="relative pt-2 ml-10">
                <form action="">
                    <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                           type="search" name="search" placeholder="Tìm kiếm" th:value="${search}">
                    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                             xml:space="preserve"
                             width="512px" height="512px">
                            <path
                                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
                        </svg>
                    </button>
                </form>

            </div>
            <div class="pt-2 mr-10">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        @click="isModalOpen = true">
                    Thêm người dùng
                </button>
            </div>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${accountList.pageIndex == 0 && accountList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">KHÁCH HÀNG</th>
                    <th class="text-left text-xs app-color-black pb-5">ĐIỆN THOẠI</th>
                    <th class="text-left text-xs app-color-black pb-5">HÒM THƯ</th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY TẠO</th>
                    <th class="text-left text-xs app-color-black pb-5">TRẠNG THÁI</th>
                    <th class="text-left text-xs app-color-black pb-5">KHÓA</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${accountList.data}">
                    <tr class="app-border-1">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
                            <div class="flex flex-row py-3">
                                <img th:src="${item.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                <div class="flex flex-col">
                                    <span th:text="${item.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                    <span th:text="${item.gender ? 'Nam' : 'Nữ'}"
                                          class="font-semibold text-xs app-color-gray-1"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span th:text="${item.phone}" class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <span th:text="${item.email}" class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(item.createdAt, 'dd-MM-yyyy')}"
                                  class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <span th:text="${item.isLock ? 'Khóa' : 'Hoạt động'}"
                                  th:classappend="${item.isLock ? 'text-red-500' : 'text-green-500'}"
                                  class="font-semibold text-sm "></span>
                        </td>
                        <td>
                            <th:block th:if="${item.isLock}">
                                <form th:action="${'/quan-tri-vien/quan-tri-tai-khoan/mo-khoa-tai-khoan/'+item.id}" method="POST">
                                    <button type="submit" class="flex items-center justify-center app-button-shadow w-fit py-2 px-3 rounded-3xl hover:bg-green-500 bg-green-400 text-white">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="none">
                                            <style>@keyframes lock {
                                                       0% {
                                                           transform: translateY(-2px)
                                                       }
                                                       to {
                                                           transform: translateY(0)
                                                       }
                                                   }</style>
                                            <path fill="#fff"
                                                  d="M15.236 10.811a.736.736 0 01-.736-.736V8.811a2.5 2.5 0 00-5 0v5H8v-5a4 4 0 018 0v1.236a.764.764 0 01-.764.764z"
                                                  style="animation:lock 1s cubic-bezier(1,-.43,0,1.29) both infinite alternate-reverse"/>
                                            <path fill="#4ade80"
                                                  d="M6.6 13.704a3 3 0 013-3h4.8a3 3 0 013 3v3a3 3 0 01-3 3H9.6a3 3 0 01-3-3v-3z"/>
                                            <path fill="#fff"
                                                  d="M9.6 11.454h4.8v-1.5H9.6v1.5zm7.05 2.25v3h1.5v-3h-1.5zm-2.25 5.25H9.6v1.5h4.8v-1.5zm-7.05-2.25v-3h-1.5v3h1.5zm2.25 2.25a2.25 2.25 0 01-2.25-2.25h-1.5a3.75 3.75 0 003.75 3.75v-1.5zm7.05-2.25a2.25 2.25 0 01-2.25 2.25v1.5a3.75 3.75 0 003.75-3.75h-1.5zm-2.25-5.25a2.25 2.25 0 012.25 2.25h1.5a3.75 3.75 0 00-3.75-3.75v1.5zm-4.8-1.5a3.75 3.75 0 00-3.75 3.75h1.5a2.25 2.25 0 012.25-2.25v-1.5zm1.543 5.198a.857.857 0 011.714 0v.104a.857.857 0 11-1.714 0v-.104z"/>
                                        </svg>
                                        <span class="font-semibold text-md">Mở khóa</span>
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:unless="${item.isLock}">
                                <form th:action="${'/quan-tri-vien/quan-tri-tai-khoan/khoa-tai-khoan/'+item.id}" method="POST">
                                    <button type="submit" class="flex items-center justify-center app-button-shadow w-fit py-2 px-3 rounded-3xl hover:bg-red-500 bg-red-400 text-white">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="none">
                                            <style>@keyframes lock {
                                                       0% {
                                                           transform: translateY(-2px)
                                                       }
                                                       to {
                                                           transform: translateY(0)
                                                       }
                                                   }</style>
                                            <path fill="#fff"
                                                  d="M15.236 10.811a.736.736 0 01-.736-.736V8.811a2.5 2.5 0 00-5 0v5H8v-5a4 4 0 018 0v1.236a.764.764 0 01-.764.764z"
                                                  style="animation:lock 1s cubic-bezier(1,-.43,0,1.29) both infinite alternate-reverse"/>
                                            <path fill="#f87171"
                                                  d="M6.6 13.704a3 3 0 013-3h4.8a3 3 0 013 3v3a3 3 0 01-3 3H9.6a3 3 0 01-3-3v-3z"/>
                                            <path fill="#fff"
                                                  d="M9.6 11.454h4.8v-1.5H9.6v1.5zm7.05 2.25v3h1.5v-3h-1.5zm-2.25 5.25H9.6v1.5h4.8v-1.5zm-7.05-2.25v-3h-1.5v3h1.5zm2.25 2.25a2.25 2.25 0 01-2.25-2.25h-1.5a3.75 3.75 0 003.75 3.75v-1.5zm7.05-2.25a2.25 2.25 0 01-2.25 2.25v1.5a3.75 3.75 0 003.75-3.75h-1.5zm-2.25-5.25a2.25 2.25 0 012.25 2.25h1.5a3.75 3.75 0 00-3.75-3.75v1.5zm-4.8-1.5a3.75 3.75 0 00-3.75 3.75h1.5a2.25 2.25 0 012.25-2.25v-1.5zm1.543 5.198a.857.857 0 011.714 0v.104a.857.857 0 11-1.714 0v-.104z"/>
                                        </svg>
                                        <span class="font-semibold text-md">Khóa</span>
                                    </button>
                                </form>
                            </th:block>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${accountList.data.size() == 0}">
                    <tr>
                        <td colspan="9" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace = "~{fragments/admin/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>