<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">Trang chính</h1>
        <button class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none">
                <style>@keyframes slide-right {
                           0% {
                               transform: translateY(0)
                           }
                           to {
                               transform: translateY(1px)
                           }
                       }</style>
                <path fill="#FFF"
                      d="M12.75 6.432a.75.75 0 00-1.5 0h1.5zm-1.5 6a.75.75 0 001.5 0h-1.5zm-1.22-2.53a.75.75 0 10-1.06 1.06l1.06-1.06zm1.97 3.03l-.53.53a.75.75 0 001.06 0l-.53-.53zm3.03-1.97a.75.75 0 00-1.06-1.06l1.06 1.06zm-3.78-4.53v6h1.5v-6h-1.5zm-2.28 4.53l2.5 2.5 1.06-1.06-2.5-2.5-1.06 1.06zm3.56 2.5l2.5-2.5-1.06-1.06-2.5 2.5 1.06 1.06z"
                      style="animation:slide-right .5s cubic-bezier(1,-.43,.68,.57) infinite alternate both"/>
                <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M8 17.274h8"/>
            </svg>
            Export excel
        </button>
    </div>

    <!-- Content -->
    <div class="mt-2">
        <!-- State cards -->
        <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
            <!-- Value card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <div
                            class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                    >
                        Lịch hẹn
                    </div>
                    <span class="text-xl font-semibold" th:text="${appointmentStatics.count}">0</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md" th:text="${appointmentStatics.percentage >= 0 ? ('+' + appointmentStatics.percentage) : appointmentStatics.percentage} + '%'">
                          +0%
                        </span>
                </div>
                <div>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="w-12 h-12 text-gray-300 dark:text-primary-dark" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </span>
                </div>
            </div>

            <!-- Users card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                            class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                    >
                        Khách hàng
                    </h6>
                    <span class="text-xl font-semibold" th:text="${customerStatics.count}">0</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md" th:text="${customerStatics.percentage >= 0 ? ('+' + customerStatics.percentage) : customerStatics.percentage} + '%'">
                          +0%
                        </span>
                </div>
                <div>
                        <span>
                          <svg
                                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                          >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                            />
                          </svg>
                        </span>
                </div>
            </div>

            <!-- Orders card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                            class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                    >
                        Bác sĩ
                    </h6>
                    <span class="text-xl font-semibold" th:text="${doctorStatics.count}">0</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md" th:text="${doctorStatics.percentage >= 0 ? ('+' + doctorStatics.percentage) : doctorStatics.percentage} + '%'">
                          +0%
                        </span>
                </div>
                <div>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="w-12 h-12 text-gray-300 dark:text-primary-dark" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
                            </svg>
                        </span>
                </div>
            </div>

            <!-- Tickets card -->
            <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                <div>
                    <h6
                            class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                    >
                        Chuyên khoa
                    </h6>
                    <span class="text-xl font-semibold" th:text="${specialtyStatics.count}">0</span>
                    <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md" th:text="${specialtyStatics.percentage >= 0 ? ('+' + specialtyStatics.percentage) : specialtyStatics.percentage} + '%'">
                          +0%
                        </span>
                </div>
                <div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-gray-300 dark:text-primary-dark" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>

        <!-- Charts -->

        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <!-- Doughnut chart card -->
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Lịch hẹn</h4>
                    <div class="flex items-center">
                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateStatusChart(isOn)"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="statusChart"></canvas>
                </div>
            </div>

            <!-- Bar chart card -->
            <div class="col-span-2 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Xếp hạng bác sĩ</h4>
                    <div class="flex items-center space-x-2">
                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateDoctorRankingChart(isOn)"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="doctorRankingChart"></canvas>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 p-4 space-y-8">
            <!-- Line chart card -->
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light" th:text="'Lịch hẹn trong tháng ' + ${month} + ' năm nay'"></h4>
                    <div class="flex items-center space-x-2">
                        <form action="">
                            <input type="hidden" th:value="${month - 1}" name="thang">
                            <button
                                    th:disabled="${month == 1}"
                                    class="mx-2 my-2 bg-white transition duration-150 ease-in-out rounded text-gray-600 border border-gray-300 text-xs hover:bg-gray-100">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                                </svg>
                            </button>
                        </form>
                        <form action="">
                            <input type="hidden" th:value="${month + 1}" name="thang">
                            <button
                                    th:disabled="${month == 12}"
                                    class="mx-2 my-2 bg-white transition duration-150 ease-in-out rounded text-gray-600 border border-gray-300 text-xs hover:bg-gray-100">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                                </svg>
                            </button>
                        </form>

                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateAppointmentChart()"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="appointmentChart"></canvas>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <!-- Bar chart card -->
            <div class="col-span-2 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Người dùng mới</h4>
                    <div class="flex items-center space-x-2">
                        <span class="text-sm text-gray-500 dark:text-light">Năm nay</span>
                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateBarChart(isOn)"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="barChart"></canvas>
                </div>
            </div>

            <!-- Doughnut chart card -->
            <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Chuyên khoa</h4>
                    <div class="flex items-center">
                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateDoughnutChart(isOn)"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Two grid columns -->
        <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
            <!-- Active users chart -->
            <div class="col-span-1 bg-white rounded-md dark:bg-darker">
                <!-- Card header -->
                <div class="p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Nhân viên online</h4>
                </div>
                <p class="p-4">
                                    <span class="text-2xl font-medium text-gray-500 dark:text-light"
                                          id="usersCount">0</span>
                    <span class="text-sm font-medium text-gray-500 dark:text-primary">Users</span>
                </p>
                <!-- Chart -->
                <div class="relative p-4">
                    <canvas id="activeUsersChart"></canvas>
                </div>
            </div>

            <!-- Line chart card -->
            <div class="col-span-2 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                <!-- Card header -->
                <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Lịch hẹn trong năm</h4>
                    <div class="flex items-center">
                        <button
                                class="relative focus:outline-none"
                                x-cloak
                                @click="isOn = !isOn; $parent.updateLineChart()"
                        >
                            <div
                                    class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                            ></div>
                            <div
                                    class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                                    :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                            ></div>
                        </button>
                    </div>
                </div>
                <!-- Chart -->
                <div class="relative p-4 h-72">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>