<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content"  class="pt-24 pb-80">
    <div class="container bg-white mx-auto">
        <div class="border rounded">
            <div>
                <div class="w-full">
                    <div class="relative flex items-center p-3 border-b border-gray-300">
                        <img class="object-cover w-10 h-10 rounded-full invisible"
                             src="https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083383__340.jpg" alt="username" />
                        <span class="text-gray-800 font-semibold text-xl">Chăm sóc khách hàng</span>
                    </div>
                    <div class="relative w-full p-6 overflow-y-auto h-96" id="chat-content">

                        <ul class="space-y-2" id="message-list">
                            <li class="flex justify-center">
                                <div class="connecting text-gray-700">Đang kết nối...</div>
                            </li>
                            <th:block th:each="item,index : ${messageList}">
                                <th:block th:if="${item.senderId == userId}">
                                    <li class="flex justify-end">
                                        <div class="relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                                            <span class="block" th:text="${item.content}"></span>
                                        </div>
                                    </li>
                                </th:block>
                                <th:block th:unless="${item.senderId == userId}">
                                    <li class="flex justify-start">
                                        <div class="relative max-w-xl px-4 py-2 text-gray-700 rounded shadow">
                                            <span class="block" th:text="${item.content}"></span>
                                        </div>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>

                    </div>

                    <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">

                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </button>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                            </svg>
                        </button>

                        <input type="text" placeholder="Message"
                               class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700" id="msg-input"
                               name="message" />
                        <button type="button" id="send">
                            <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor">
                                <path
                                        d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>