<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="pt-24 pb-80">
    <div class="flex px-12 pb-3 mt-6 justify-end">
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
           href="/khach-hang/lich-trinh/them-lich-hen"
        >
            Thêm lịch hẹn
        </a>
    </div>
    <div class="flex flex-col px-12 pb-10 mt-4">
        <div class="flex flex-row">
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen'"
               th:class="${status == null ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.all}"
                      th:class="${status == null ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == null ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Tất cả</span>
            </a>
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen?status=9'"
               th:class="${status == 9 ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.complete}"
                      th:class="${status == 9 ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == 9 ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Hoàn thành</span>
            </a>
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen?status=6'"
               th:class="${status == 6 ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.active}"
                      th:class="${status == 6 ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == 6 ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Hoạt động</span>
            </a>
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen?status=1'"
               th:class="${status == 1 ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.editable}"
                      th:class="${status == 1 ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == 1 ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Cần sửa</span>
            </a>
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen?status=4'"
               th:class="${status == 4 ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.waiting}"
                      th:class="${status == 4 ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == 4 ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Chờ duyệt</span>
            </a>
            <a th:href="'/khach-hang/lich-trinh/danh-sach-lich-hen?status=7'"
               th:class="${status == 7 ? 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-white active cursor-pointer' : 'flex flex-col w-40 pl-5 py-3 mr-3 rounded-tl-2xl rounded-tr-2xl bg-blue-600 cursor-pointer text-white hover:bg-white hover:text-black' }">
                <span th:text="${count.cancel}"
                      th:class="${status == 7 ? 'text-3xl app-color-blue-1 font-bold' : 'text-3xl font-bold'}">00</span>
                <span th:class="${status == 7 ? 'text-md app-color-blue-1 font-semibold' : 'text-md font-semibold'}">Đã hủy</span>
            </a>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${scheduleList.pageIndex == 0 && scheduleList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">BÁC SĨ</th>
                    <th class="text-left text-xs app-color-black pb-5">ĐIỆN THOẠI</th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY</th>
                    <th class="text-left text-xs app-color-black pb-5">KHUNG GIỜ</th>
                    <th class="text-left text-xs app-color-black pb-5">KẾT THÚC</th>
                    <th class="text-left text-xs app-color-black pb-5">TRẠNG THÁI</th>
                    <th class="text-left text-xs app-color-black pb-5">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${scheduleList.data}">
                    <tr class="app-border-1">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
                            <th:block th:if="${item.doctor != null}">
                                <div class="flex flex-row py-3">
                                    <img th:src="${item.doctor.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                    <div class="flex flex-col">
                                    <span th:text="${item.doctor.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                        <span th:text="${item.doctor.gender ? 'Nam' : 'Nữ'}"
                                              class="font-semibold text-xs app-color-gray-1"></span>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${item.doctor == null}">
                                <div class="flex flex-row py-3">
                                    <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                </div>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${item.doctor != null}">
                                <span th:text="${item.doctor.phone}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                            </th:block>
                            <th:block th:if="${item.doctor != null}">
                                <span class="font-semibold text-sm app-color-gray-1 invisible"></span>
                            </th:block>
                        </td>
                        <td>
                            <span th:text="${item.date}" class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <th:block th:if="${item.timeSlot != null}">
                                <span class="font-semibold text-sm app-color-gray-1">
                                    <span th:text="${item.timeSlot.timeStart}"></span>
                                    -
                                    <span th:text="${item.timeSlot.timeEnd}"></span>
                                </span>
                            </th:block>
                            <th:block th:if="${item.timeSlot == null}">
                                <span class="font-semibold text-sm invisible">00:00 - 00:00</span>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${item.timeEnd != null}">
                                <div th:text="${item.timeEnd}"
                                     class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md"></div>
                            </th:block>
                            <th:block th:if="${item.timeEnd == null}">
                                <div class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md invisible"></div>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:switch="${item.status}">
                                <span th:case="1" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                <span th:case="2" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                <span th:case="3" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                <span th:case="4" class="font-semibold text-sm text-blue-500">Chờ duyệt</span>
                                <span th:case="5" class="font-semibold text-sm text-yellow-500">Trả về</span>
                                <span th:case="6" class="font-semibold text-sm text-green-500">Hoạt động</span>
                                <span th:case="7" class="font-semibold text-sm text-red-500">Hủy bỏ</span>
                                <span th:case="8" class="font-semibold text-sm text-red-500">Từ chối</span>
                                <span th:case="9" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                                <span th:case="10" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                            </th:block>
                        </td>
                        <td>
                            <th:block
                                    th:if="${item.status == 1 || item.status == 2 || item.status == 3 || item.status == 5}">
                                <a th:href="${(item.status == 1) ? '/khach-hang/lich-trinh/them-lich-hen/chon-khung-gio/' + item.id :
                                                (item.status == 2) ? '/khach-hang/lich-trinh/them-lich-hen/dien-thong-tin/' + item.id :
                                                (item.status == 3) ? '/khach-hang/lich-trinh/them-lich-hen/xac-nhan-dieu-khoan/' + item.id : '/khach-hang/lich-trinh/them-lich-hen/chon-bac-si/' + item.id
                                                }"
                                   class="inline-flex items-center bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         class="pointer-events-none"
                                         fill="none">
                                        <style>
                                            .rotate-right {
                                                animation: rotate-right 1s cubic-bezier(1, -0.01, 0.13, 1.15) infinite alternate-reverse both;
                                                transform-origin: top center;
                                            }

                                            @keyframes rotate-right {
                                                0% {
                                                    transform: rotate(0);
                                                }
                                                25% {
                                                    transform: rotate(10deg);
                                                }
                                                50% {
                                                    transform: rotate(0deg);
                                                }
                                                100% {
                                                    transform: rotate(-10deg);
                                                }
                                            }
                                        </style>
                                        <g class="rotate-right">
                                            <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M9.5 7.307h5"/>
                                            <path stroke="#FFF" stroke-width="1.5"
                                                  d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                        </g>
                                    </svg>
                                    Sửa
                                </a>
                            </th:block>
                            <th:block th:if="${item.status == 4}">
                                <form th:action="@{'/khach-hang/lich-trinh/huy-lich-hen/'+ ${item.id}}" method="POST">
                                    <button type="submit"
                                            class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"
                                             height="24"
                                             fill="none">
                                            <style>@keyframes rotate-tr {
                                                       0% {
                                                           transform: rotate(0)
                                                       }
                                                       to {
                                                           transform: rotate(20deg)
                                                       }
                                                   }</style>
                                            <path fill="#FFF"
                                                  d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                            <path fill="#FFF" fill-rule="evenodd"
                                                  d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                                  clip-rule="evenodd"
                                                  style="animation:rotate-tr 1s cubic-bezier(1,-.28,.01,1.13) infinite alternate-reverse both;transform-origin:right center"/>
                                        </svg>
                                        Xóa
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:if="${item.status == 9}">
                                <button type="submit" @click="openRateModal" th:attr="data-id=${item.id}"
                                        class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         fill="none">
                                        <style>@keyframes jello {
                                                   0%, to {
                                                       transform: scale3d(1, 1, 1)
                                                   }
                                                   30% {
                                                       transform: scale3d(1.25, .75, 1)
                                                   }
                                                   40% {
                                                       transform: scale3d(.75, 1.25, 1)
                                                   }
                                                   50% {
                                                       transform: scale3d(1.15, .85, 1)
                                                   }
                                                   65% {
                                                       transform: scale3d(.95, 1.05, 1)
                                                   }
                                                   75% {
                                                       transform: scale3d(1.05, .95, 1)
                                                   }
                                               }</style>
                                        <path stroke="#FFF" stroke-width="1.5"
                                              d="M11.081 5.141c.347-.807 1.491-.807 1.838 0l1.274 2.97a1 1 0 00.828.601l3.218.295c.875.08 1.229 1.168.568 1.748l-2.43 2.13a1 1 0 00-.316.972l.714 3.152c.194.857-.732 1.53-1.487 1.08l-2.776-1.653a1 1 0 00-1.024 0l-2.776 1.653c-.755.45-1.681-.223-1.487-1.08l.715-3.152a1 1 0 00-.317-.973l-2.43-2.13c-.66-.579-.307-1.667.568-1.747l3.218-.295a1 1 0 00.828-.601l1.274-2.97z"
                                              style="animation:jello 1s both infinite cubic-bezier(.69,.34,.09,.6);transform-origin:center"/>
                                    </svg>
                                    Đánh giá
                                </button>
                            </th:block>
                            <th:block th:if="${item.status == 10}">
                                <div class="flex items-center">
                                    <svg class="ml-1 mr-1 star cursor-pointer" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <th:block th:if="${item.userStarRate >= 1}">
                                            <path d='M4.28912 18.3387C3.83074 18.5738 3.31062 18.1617 3.40324 17.6357L4.38887 12.0188L0.205303 8.03354C-0.185384 7.66067 0.0176783 6.97904 0.541366 6.90542L6.35774 6.07892L8.95124 0.940605C9.18518 0.47748 9.81812 0.47748 10.0521 0.940605L12.6456 6.07892L18.4619 6.90542C18.9856 6.97904 19.1887 7.66067 18.7968 8.03354L14.6144 12.0188L15.6001 17.6357C15.6927 18.1617 15.1726 18.5738 14.7142 18.3387L9.49987 15.6597L4.28793 18.3387H4.28912Z' fill='#FFDA44'/>
                                        </th:block>
                                        <th:block th:unless="${item.userStarRate >= 1}">
                                            <path d="M3.40324 17.6343C3.31062 18.1615 3.83074 18.5736 4.28912 18.3385L9.50224 15.6595L14.7142 18.3385C15.1726 18.5736 15.6927 18.1615 15.6001 17.6355L14.6144 12.0186L18.7968 8.03333C19.1887 7.66046 18.9868 6.97883 18.4619 6.90521L12.6456 6.07871L10.0521 0.940393C10.0026 0.836236 9.9247 0.748236 9.82727 0.686616C9.72984 0.624995 9.61693 0.592285 9.50165 0.592285C9.38637 0.592285 9.27345 0.624995 9.17602 0.686616C9.07859 0.748236 9.00065 0.836236 8.95124 0.940393L6.35774 6.07989L0.541366 6.90639C0.0176783 6.98002 -0.185384 7.66164 0.205303 8.03452L4.38887 12.0198L3.40324 17.6366V17.6343ZM9.22793 14.3485L4.8508 16.5976L5.67493 11.8986C5.69423 11.7905 5.68668 11.6792 5.65293 11.5747C5.61918 11.4701 5.56027 11.3754 5.48137 11.299L2.03049 8.00958L6.84224 7.32558C6.94188 7.31053 7.03638 7.27156 7.11766 7.212C7.19894 7.15244 7.26457 7.07406 7.30893 6.98358L9.49987 2.63971L11.6932 6.98358C11.7375 7.07406 11.8032 7.15244 11.8844 7.212C11.9657 7.27156 12.0602 7.31053 12.1599 7.32558L16.9716 8.00839L13.5207 11.2978C13.4417 11.3744 13.3826 11.4692 13.3489 11.574C13.3151 11.6788 13.3077 11.7903 13.3272 11.8986L14.1513 16.5976L9.77418 14.3485C9.68954 14.3048 9.59569 14.282 9.50046 14.282C9.40523 14.282 9.31138 14.3048 9.22674 14.3485H9.22793Z" fill="#FFDA44"/>
                                        </th:block>
                                    </svg>
                                    <svg class="ml-1 mr-1 star cursor-pointer" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <th:block th:if="${item.userStarRate >= 2}">
                                            <path d='M4.28912 18.3387C3.83074 18.5738 3.31062 18.1617 3.40324 17.6357L4.38887 12.0188L0.205303 8.03354C-0.185384 7.66067 0.0176783 6.97904 0.541366 6.90542L6.35774 6.07892L8.95124 0.940605C9.18518 0.47748 9.81812 0.47748 10.0521 0.940605L12.6456 6.07892L18.4619 6.90542C18.9856 6.97904 19.1887 7.66067 18.7968 8.03354L14.6144 12.0188L15.6001 17.6357C15.6927 18.1617 15.1726 18.5738 14.7142 18.3387L9.49987 15.6597L4.28793 18.3387H4.28912Z' fill='#FFDA44'/>
                                        </th:block>
                                        <th:block th:unless="${item.userStarRate >= 2}">
                                            <path d="M3.40324 17.6343C3.31062 18.1615 3.83074 18.5736 4.28912 18.3385L9.50224 15.6595L14.7142 18.3385C15.1726 18.5736 15.6927 18.1615 15.6001 17.6355L14.6144 12.0186L18.7968 8.03333C19.1887 7.66046 18.9868 6.97883 18.4619 6.90521L12.6456 6.07871L10.0521 0.940393C10.0026 0.836236 9.9247 0.748236 9.82727 0.686616C9.72984 0.624995 9.61693 0.592285 9.50165 0.592285C9.38637 0.592285 9.27345 0.624995 9.17602 0.686616C9.07859 0.748236 9.00065 0.836236 8.95124 0.940393L6.35774 6.07989L0.541366 6.90639C0.0176783 6.98002 -0.185384 7.66164 0.205303 8.03452L4.38887 12.0198L3.40324 17.6366V17.6343ZM9.22793 14.3485L4.8508 16.5976L5.67493 11.8986C5.69423 11.7905 5.68668 11.6792 5.65293 11.5747C5.61918 11.4701 5.56027 11.3754 5.48137 11.299L2.03049 8.00958L6.84224 7.32558C6.94188 7.31053 7.03638 7.27156 7.11766 7.212C7.19894 7.15244 7.26457 7.07406 7.30893 6.98358L9.49987 2.63971L11.6932 6.98358C11.7375 7.07406 11.8032 7.15244 11.8844 7.212C11.9657 7.27156 12.0602 7.31053 12.1599 7.32558L16.9716 8.00839L13.5207 11.2978C13.4417 11.3744 13.3826 11.4692 13.3489 11.574C13.3151 11.6788 13.3077 11.7903 13.3272 11.8986L14.1513 16.5976L9.77418 14.3485C9.68954 14.3048 9.59569 14.282 9.50046 14.282C9.40523 14.282 9.31138 14.3048 9.22674 14.3485H9.22793Z" fill="#FFDA44"/>
                                        </th:block>
                                    </svg>
                                    <svg class="ml-1 mr-1 star cursor-pointer" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <th:block th:if="${item.userStarRate >= 3}">
                                            <path d='M4.28912 18.3387C3.83074 18.5738 3.31062 18.1617 3.40324 17.6357L4.38887 12.0188L0.205303 8.03354C-0.185384 7.66067 0.0176783 6.97904 0.541366 6.90542L6.35774 6.07892L8.95124 0.940605C9.18518 0.47748 9.81812 0.47748 10.0521 0.940605L12.6456 6.07892L18.4619 6.90542C18.9856 6.97904 19.1887 7.66067 18.7968 8.03354L14.6144 12.0188L15.6001 17.6357C15.6927 18.1617 15.1726 18.5738 14.7142 18.3387L9.49987 15.6597L4.28793 18.3387H4.28912Z' fill='#FFDA44'/>
                                        </th:block>
                                        <th:block th:unless="${item.userStarRate >= 3}">
                                            <path d="M3.40324 17.6343C3.31062 18.1615 3.83074 18.5736 4.28912 18.3385L9.50224 15.6595L14.7142 18.3385C15.1726 18.5736 15.6927 18.1615 15.6001 17.6355L14.6144 12.0186L18.7968 8.03333C19.1887 7.66046 18.9868 6.97883 18.4619 6.90521L12.6456 6.07871L10.0521 0.940393C10.0026 0.836236 9.9247 0.748236 9.82727 0.686616C9.72984 0.624995 9.61693 0.592285 9.50165 0.592285C9.38637 0.592285 9.27345 0.624995 9.17602 0.686616C9.07859 0.748236 9.00065 0.836236 8.95124 0.940393L6.35774 6.07989L0.541366 6.90639C0.0176783 6.98002 -0.185384 7.66164 0.205303 8.03452L4.38887 12.0198L3.40324 17.6366V17.6343ZM9.22793 14.3485L4.8508 16.5976L5.67493 11.8986C5.69423 11.7905 5.68668 11.6792 5.65293 11.5747C5.61918 11.4701 5.56027 11.3754 5.48137 11.299L2.03049 8.00958L6.84224 7.32558C6.94188 7.31053 7.03638 7.27156 7.11766 7.212C7.19894 7.15244 7.26457 7.07406 7.30893 6.98358L9.49987 2.63971L11.6932 6.98358C11.7375 7.07406 11.8032 7.15244 11.8844 7.212C11.9657 7.27156 12.0602 7.31053 12.1599 7.32558L16.9716 8.00839L13.5207 11.2978C13.4417 11.3744 13.3826 11.4692 13.3489 11.574C13.3151 11.6788 13.3077 11.7903 13.3272 11.8986L14.1513 16.5976L9.77418 14.3485C9.68954 14.3048 9.59569 14.282 9.50046 14.282C9.40523 14.282 9.31138 14.3048 9.22674 14.3485H9.22793Z" fill="#FFDA44"/>
                                        </th:block>
                                    </svg>
                                    <svg class="ml-1 mr-1 star cursor-pointer" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <th:block th:if="${item.userStarRate >= 4}">
                                            <path d='M4.28912 18.3387C3.83074 18.5738 3.31062 18.1617 3.40324 17.6357L4.38887 12.0188L0.205303 8.03354C-0.185384 7.66067 0.0176783 6.97904 0.541366 6.90542L6.35774 6.07892L8.95124 0.940605C9.18518 0.47748 9.81812 0.47748 10.0521 0.940605L12.6456 6.07892L18.4619 6.90542C18.9856 6.97904 19.1887 7.66067 18.7968 8.03354L14.6144 12.0188L15.6001 17.6357C15.6927 18.1617 15.1726 18.5738 14.7142 18.3387L9.49987 15.6597L4.28793 18.3387H4.28912Z' fill='#FFDA44'/>
                                        </th:block>
                                        <th:block th:unless="${item.userStarRate >= 4}">
                                            <path d="M3.40324 17.6343C3.31062 18.1615 3.83074 18.5736 4.28912 18.3385L9.50224 15.6595L14.7142 18.3385C15.1726 18.5736 15.6927 18.1615 15.6001 17.6355L14.6144 12.0186L18.7968 8.03333C19.1887 7.66046 18.9868 6.97883 18.4619 6.90521L12.6456 6.07871L10.0521 0.940393C10.0026 0.836236 9.9247 0.748236 9.82727 0.686616C9.72984 0.624995 9.61693 0.592285 9.50165 0.592285C9.38637 0.592285 9.27345 0.624995 9.17602 0.686616C9.07859 0.748236 9.00065 0.836236 8.95124 0.940393L6.35774 6.07989L0.541366 6.90639C0.0176783 6.98002 -0.185384 7.66164 0.205303 8.03452L4.38887 12.0198L3.40324 17.6366V17.6343ZM9.22793 14.3485L4.8508 16.5976L5.67493 11.8986C5.69423 11.7905 5.68668 11.6792 5.65293 11.5747C5.61918 11.4701 5.56027 11.3754 5.48137 11.299L2.03049 8.00958L6.84224 7.32558C6.94188 7.31053 7.03638 7.27156 7.11766 7.212C7.19894 7.15244 7.26457 7.07406 7.30893 6.98358L9.49987 2.63971L11.6932 6.98358C11.7375 7.07406 11.8032 7.15244 11.8844 7.212C11.9657 7.27156 12.0602 7.31053 12.1599 7.32558L16.9716 8.00839L13.5207 11.2978C13.4417 11.3744 13.3826 11.4692 13.3489 11.574C13.3151 11.6788 13.3077 11.7903 13.3272 11.8986L14.1513 16.5976L9.77418 14.3485C9.68954 14.3048 9.59569 14.282 9.50046 14.282C9.40523 14.282 9.31138 14.3048 9.22674 14.3485H9.22793Z" fill="#FFDA44"/>
                                        </th:block>
                                    </svg>
                                    <svg class="ml-1 mr-1 star cursor-pointer" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <th:block th:if="${item.userStarRate >= 5}">
                                            <path d='M4.28912 18.3387C3.83074 18.5738 3.31062 18.1617 3.40324 17.6357L4.38887 12.0188L0.205303 8.03354C-0.185384 7.66067 0.0176783 6.97904 0.541366 6.90542L6.35774 6.07892L8.95124 0.940605C9.18518 0.47748 9.81812 0.47748 10.0521 0.940605L12.6456 6.07892L18.4619 6.90542C18.9856 6.97904 19.1887 7.66067 18.7968 8.03354L14.6144 12.0188L15.6001 17.6357C15.6927 18.1617 15.1726 18.5738 14.7142 18.3387L9.49987 15.6597L4.28793 18.3387H4.28912Z' fill='#FFDA44'/>
                                        </th:block>
                                        <th:block th:unless="${item.userStarRate >= 5}">
                                            <path d="M3.40324 17.6343C3.31062 18.1615 3.83074 18.5736 4.28912 18.3385L9.50224 15.6595L14.7142 18.3385C15.1726 18.5736 15.6927 18.1615 15.6001 17.6355L14.6144 12.0186L18.7968 8.03333C19.1887 7.66046 18.9868 6.97883 18.4619 6.90521L12.6456 6.07871L10.0521 0.940393C10.0026 0.836236 9.9247 0.748236 9.82727 0.686616C9.72984 0.624995 9.61693 0.592285 9.50165 0.592285C9.38637 0.592285 9.27345 0.624995 9.17602 0.686616C9.07859 0.748236 9.00065 0.836236 8.95124 0.940393L6.35774 6.07989L0.541366 6.90639C0.0176783 6.98002 -0.185384 7.66164 0.205303 8.03452L4.38887 12.0198L3.40324 17.6366V17.6343ZM9.22793 14.3485L4.8508 16.5976L5.67493 11.8986C5.69423 11.7905 5.68668 11.6792 5.65293 11.5747C5.61918 11.4701 5.56027 11.3754 5.48137 11.299L2.03049 8.00958L6.84224 7.32558C6.94188 7.31053 7.03638 7.27156 7.11766 7.212C7.19894 7.15244 7.26457 7.07406 7.30893 6.98358L9.49987 2.63971L11.6932 6.98358C11.7375 7.07406 11.8032 7.15244 11.8844 7.212C11.9657 7.27156 12.0602 7.31053 12.1599 7.32558L16.9716 8.00839L13.5207 11.2978C13.4417 11.3744 13.3826 11.4692 13.3489 11.574C13.3151 11.6788 13.3077 11.7903 13.3272 11.8986L14.1513 16.5976L9.77418 14.3485C9.68954 14.3048 9.59569 14.282 9.50046 14.282C9.40523 14.282 9.31138 14.3048 9.22674 14.3485H9.22793Z" fill="#FFDA44"/>
                                        </th:block>
                                    </svg>
                                </div>
                            </th:block>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${scheduleList.data.size() == 0}">
                    <tr>
                        <td colspan="10" class="app-border-1 text-center font-medium text-gray-900 py-2">Danh sách
                            rỗng
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="~{fragments/customer/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>