<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content"  class="pt-24 pb-80">
        <!-- Content -->
        <div class="mt-2 splide text-black">
            <div class="flex items-center justify-center py-10 px-4 relative">
                <div class="splide__track md:justify-center bg-white rounded-lg shadow-md ">
                    <div class='splide__list flex h-full'>
                        <th:block th:each="day : ${dayList}">
                            <li class="splide__slide cursor-pointer justify-center w-20 px-1 rounded-lg relative font-medium"
                                th:classappend="${day.isEqual(currentDate)} ? 'flex bg-purple-600 shadow-lg dark-shadow text-white' : 'flex hover:bg-purple-500 hover:text-white hover:shadow-lg hover-dark-shadow '">
                                <!--                                <span class="flex h-3 w-3 absolute -top-1 -right-1 block z-50">-->
                                <!--                                    <span class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-red-400 "></span>-->
                                <!--                                    <span class="relative inline-flex rounded-full h-3 w-3 bg-red-600"></span>-->
                                <!--                                </span>-->
                                <div class='flex items-center px-4 py-4 z-40'>
                                    <div class='text-center'>
                                        <p th:text="${#temporals.dayOfWeekNameShort(day)}"
                                           class='group-hover:text-gray-100 text-sm'></p>
                                        <p th:text="${#temporals.day(day)}"
                                           class='group-hover:text-gray-100 mt-3 group-hover:font-bold'></p>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-2 text-black">
            <div class="flex items-center justify-center py-8 px-4">
                <div class="max-w-4xl w-full">
                    <div class="px-4 py-8 flex justify-end">
                        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
                           href="/khach-hang/lich-trinh/danh-sach-lich-hen"
                        >
                            Danh sách lịch hẹn
                        </a>
                    </div>
                    <div class="md:p-8 p-5 dark:bg-gray-800 bg-white rounded-t shadow-lg">
                        <div class="px-4 flex items-center justify-between">
                            <span tabindex="0"
                                  class="focus:outline-none  text-lg font-bold dark:text-gray-100 text-gray-800">
                                <span th:text="${#temporals.monthName(dayList[0])}"></span>
                                <span th:text="${#temporals.year(dayList[0])}"></span>
                            </span>
                            <div class="flex items-center">
                                <form th:action="${'/lich-trinh/thang-'+month.plusMonths(-1).getMonthValue()+'-nam-'+month.plusMonths(-1).getYear()}"
                                      method="POST">
                                    <button
                                            aria-label="calendar backward"
                                            class="hover:text-gray-400 text-gray-800 dark:text-gray-100"
                                            type="submit"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <polyline points="15 6 9 12 15 18"/>
                                        </svg>
                                    </button>
                                </form>
                                <form th:action="${'/lich-trinh/thang-'+month.plusMonths(1).getMonthValue()+'-nam-'+month.plusMonths(1).getYear()}"
                                      method="POST">
                                    <button
                                            aria-label="calendar forward"
                                            class="hover:text-gray-400 ml-3 text-gray-800 dark:text-gray-100"
                                            type="submit"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <polyline points="9 6 15 12 9 18"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="flex items-center justify-between pt-12 overflow-x-auto">
                            <div class="w-full grid grid-cols-7">
                                <template x-for="(day, index) in DAYS" :key="index">
                                    <div class="w-full flex justify-center">
                                        <p class="text-base font-medium text-center text-gray-800 dark:text-gray-100"
                                           x-text="day"></p>
                                    </div>
                                </template>

                                <th:block th:each="day : ${previousDayList}">
                                    <div class="px-2 py-5 flex w-full justify-center ">
                                        <p class="text-2xl text-gray-500 dark:text-gray-100 font-medium opacity-0">0</p>
                                    </div>
                                </th:block>

                                <th:block th:each="day : ${dayList}">
                                    <div class="flex w-full items-center justify-centerpx-2 py-5 ">
                                        <div class="flex justify-center w-full rounded-full cursor-pointer relative">
                                            <!--                                            <span class="flex h-3 w-3 absolute top-1 left-1/2 ml-2 block z-50">-->
                                            <!--                                                <span class="animate-ping absolute group-hover:opacity-75 opacity-0 inline-flex h-full w-full rounded-full bg-red-400 "></span>-->
                                            <!--                                                <span class="relative inline-flex rounded-full h-3 w-3 bg-red-600"></span>-->
                                            <!--                                            </span>-->
                                            <a th:text="${#temporals.day(day)}"
                                               tabindex="0"
                                               th:classappend="${day.isEqual(currentDate)} ? 'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-indigo-500 hover:bg-indigo-500 text-2xl w-12 h-12 flex items-center justify-center font-medium text-white bg-indigo-700 rounded-full' : 'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:bg-indigo-500 focus:text-white hover:bg-indigo-500 hover:text-white text-2xl w-12 h-12 flex items-center justify-center font-medium rounded-full'"
                                            >
                                            </a>
                                        </div>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>