<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="pt-24 pb-80 flex w-full justify-center">
    <div class="flex flex-col w-4/5 bg-white">
        <th:block th:if="appointmentReplyList != null">
            <div class="flex flex-col p-5">
                <th:block th:each="item,index : ${appointmentReplyList}">
                    <div class="flex flex-row text-white bg-green-600 my-2 p-3">
                        <div class="flex flex-row">
                            <img th:src="${item.admin.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                            <div class="flex flex-col">
                                            <span th:text="${item.admin.fullName}"
                                                  class="font-semibold text-sm app-color-black"></span>
                                <span th:text="${item.admin.gender ? 'Nam' : 'Nữ'}"
                                      class="font-semibold text-xs app-color-gray-1"></span>
                            </div>
                        </div>
                        <div class="flex items-center px-3 font-semibold" th:text="${item.content}"></div>
                    </div>
                </th:block>
            </div>
        </th:block>
        <!-- Content header -->
        <div class="flex items-center justify-between px-4 py-4">
            <h1 class="text-2xl text-gray-600 font-semibold pl-8">Thêm lịch hẹn</h1>
        </div>

        <!-- Form 1: Chọn bác sĩ-->
        <div th:if="${form == 1}">
            <!-- component -->
            <div class="p-5">
                <div class="mx-4 p-4">
                    <div class="flex items-center">
                        <div class="flex items-center text-green-600 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600 relative">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none" stroke="rgb(22 163 74)">
                                    <style>@keyframes slide {
                                               0% {
                                                   transform: translateY(0) translateX(0)
                                               }
                                               to {
                                                   transform: translateY(-1px) translateX(2px)
                                               }
                                           }</style>
                                    <circle cx="12" cy="7.858" r="2.5" stroke="rgb(22 163 74)" stroke-width="2"
                                            style="animation:slide 1s cubic-bezier(.83,-.07,0,1.04) both infinite alternate-reverse"/>
                                    <rect width="10" height="4" x="7" y="13.926" stroke="rgb(22 163 74)"
                                          stroke-width="2"
                                          rx="2"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn bác sĩ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="16" height="16" x="4" y="4" stroke="rgb(209 213 219)"
                                          stroke-width="1.5"
                                          rx="8"/>
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="1.5"
                                          d="M12.021 12l2.325 2.325"/>
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5"
                                          d="M12.021 12V6.84"
                                    />
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Chọn khung giờ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-gray-500 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="10" height="14" x="7" y="5" stroke="rgb(209 213 219)" stroke-width="2"
                                          rx="1"/>
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="2"
                                          d="M10 8.973h4m-4 3.64h2"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Điền thông tin
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-gray-500 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="1.5"
                                          d="M5.387 12.68l3.955 3.956 9.271-9.272"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Xác nhận điều khoản
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 p-4">
                    <!-- Form -->
                    <div>
                        <form th:action="${appointmentId != null ? '/khach-hang/lich-trinh/them-lich-hen/chon-bac-si/'+appointmentId :'/khach-hang/lich-trinh/them-lich-hen/chon-bac-si' }"
                              method="POST">
                            <div class="p-2 mt-4 items-center grid grid-cols-4 gap-4 text-gray-900">
                                <div class="flex flex-col h-80">
                                    <p class="text-lg  font-semibold pb-2">Chọn chuyên khoa</p>
                                    <p class="pb-2 invisible">text</p>
                                    <input class="border border-solid border-gray-300 rounded bg-white h-10 px-5 text-sm focus:outline-none focus:border-blue-600"
                                           type="date" name="date" placeholder="Chọn ngày"
                                           th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                           th:value="${date != null ? date : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                           required>
                                    <template x-if="chosenDoctor != null">
                                        <input type="hidden" name="doctorId" x-model="chosenDoctor.id">
                                    </template>
                                    <template x-if="chosenDoctor == null">
                                        <input type="hidden" name="doctorId" value="">
                                    </template>
                                </div>
                                <div class="flex flex-col h-80">
                                    <p class="text-lg font-semibold pb-2">Chọn chuyên khoa</p>
                                    <p class="pb-2 invisible">text</p>
                                    <select id="specialty" x-model="specialtyId"
                                            class="form-select block px-3 py-2 text-base font-normal bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            aria-label="Chọn chuyên khoa">
                                        <option value="0">Không</option>
                                        <th:block th:if="${specialtyList != null}">
                                            <th:block th:each="specialty : ${specialtyList}">
                                                <option th:value="${specialty.id}" th:text="${specialty.name}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="flex flex-col h-80">
                                    <p class="text-lg font-semibold pb-2">Chọn bác sĩ</p>
                                    <p class="pb-2">Nhập tên</p>
                                    <p class="pb-2 flex flex-col">
                                        <input x-ref="searchField"
                                               x-model="search"
                                               x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
                                               class="border border-solid border-gray-300 rounded bg-white h-10 px-5 text-sm focus:outline-none focus:border-blue-600"
                                               type="search" placeholder="Tìm kiếm" autocomplete="off">
                                    </p>
                                    <ul class="list-none overflow-y-scroll no-scrollbar">
                                        <template x-for="item in filteredDoctors" :key="item.id">
                                            <li class="flex justify-between cursor-pointer px-2 rounded hover:bg-gray-200"
                                                x-bind:data-id="item.id" @click="chooseDoctor">
                                                <div class="flex flex-row py-3">
                                                    <img :src="item.avatar"
                                                         class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                                    <div class="flex flex-col">
                                                    <span x-text="item.fullName"
                                                          class="font-semibold text-sm app-color-black"></span>
                                                        <span x-text="item.gender ? 'Nam' : 'Nữ'"
                                                              class="font-semibold text-xs app-color-gray-1"></span>
                                                    </div>
                                                </div>
                                                <div class="flex flex-row py-3 items-center"
                                                     x-text="item.specialtyName"></div>
                                            </li>
                                        </template>
                                        <template x-if="searchLength == 0">
                                            <li class="flex justify-center">
                                                Danh sách rỗng
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                                <div class="flex flex-col h-80">
                                    <p class="text-lg font-semibold pb-2">Bác sĩ đã chọn</p>
                                    <p class="pb-2 invisible">text</p>
                                    <div class="overflow-y-scroll no-scrollbar">
                                        <template x-if="chosenDoctor == null">
                                            <p class="text-center text-xl">Chưa có bác sĩ được chọn</p>
                                        </template>
                                        <template x-if="chosenDoctor != null">
                                            <div>
                                                <img :src="chosenDoctor.avatar"
                                                     class="mr-5 w-full h-eqw bg-gray-100 rounded">
                                                <p class="py-2 text-3xl" x-text="'Tên: ' + chosenDoctor.fullName"></p>
                                                <p class="pb-2 text-xl">
                                                    <span class="font-bold">Chuyên khoa: </span>
                                                    <span x-text="chosenDoctor.specialtyName != null ? chosenDoctor.specialtyName : 'Không'"></span>
                                                </p>
                                                <p class="pb-2 text-lg" x-text="chosenDoctor.gender ? 'Nam' : 'Nữ'"></p>
                                                <p class="pb-2 text-lg">Đánh giá của khách hàng</p>
                                                <div class="grid grid-cols-5">
                                                    <div class="flex justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="flex justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="flex justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="flex justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="flex justify-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                             stroke-width="2">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <button @click="chosenDoctor = null"
                                                        type="button"
                                                        class="flex mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                         width="24" height="24" fill="none">
                                                        <style>@keyframes ban-n {
                                                                   0% {
                                                                       transform: scale(1)
                                                                   }
                                                                   to {
                                                                       transform: scale(.5)
                                                                   }
                                                               }</style>
                                                        <path fill="#FFF" fill-rule="evenodd"
                                                              d="M4.75 12a7.25 7.25 0 0111.819-5.63L6.37 16.57A7.22 7.22 0 014.75 12zm2.681 5.63A7.25 7.25 0 0017.63 7.431L7.431 17.63zM12 3.25a8.75 8.75 0 100 17.5 8.75 8.75 0 000-17.5z"
                                                              clip-rule="evenodd"
                                                              style="transform-origin:center center;animation:ban-n 1s cubic-bezier(.25,.46,.45,.94) infinite alternate both"/>
                                                    </svg>
                                                    Bỏ chọn bác sĩ
                                                </button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <!--Button-->
                            <div class="flex p-2 mt-4 items-center justify-end">
                                <button class="text-base ml-2 hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                    hover:bg-green-700
                                    bg-green-600
                                    text-white
                                    border duration-200 ease-in-out
                                    border-green-600 transition"
                                >Next
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <!-- Form 2: Chọn khung giờ -->
        <div th:if="${form == 2}">
            <!-- component -->
            <div class="p-5">
                <div class="mx-4 p-4">
                    <div class="flex items-center">
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600 bg-green-600 relative">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none" stroke="currentColor">
                                    <circle cx="12" cy="7.858" r="2.5" stroke="currentColor" stroke-width="2"
                                            style="animation:slide 1s cubic-bezier(.83,-.07,0,1.04) both infinite alternate-reverse"/>
                                    <rect width="10" height="4" x="7" y="13.926" stroke="currentColor" stroke-width="2"
                                          rx="2"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn bác sĩ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-green-600 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <style>@keyframes rotate {
                                               0% {
                                                   transform: rotate(0)
                                               }
                                               to {
                                                   transform: rotate(360deg)
                                               }
                                           }</style>
                                    <rect width="16" height="16" x="4" y="4" stroke="rgb(22 163 74)" stroke-width="1.5"
                                          rx="8"/>
                                    <path stroke="rgb(22 163 74)" stroke-linecap="round" stroke-width="1.5"
                                          d="M12.021 12l2.325 2.325"/>
                                    <path stroke="rgb(22 163 74)" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5"
                                          d="M12.021 12V6.84"
                                          style="animation:rotate 2s linear infinite both;transform-origin:center"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn khung giờ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-gray-500 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="10" height="14" x="7" y="5" stroke="rgb(209 213 219)" stroke-width="2"
                                          rx="1"/>
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="2"
                                          d="M10 8.973h4m-4 3.64h2"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Thông tin
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-gray-500 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="1.5"
                                          d="M5.387 12.68l3.955 3.956 9.271-9.272"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Xác nhận
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 p-4">
                    <!-- Form -->
                    <form th:action="${'/khach-hang/lich-trinh/them-lich-hen/chon-khung-gio/' + appointmentId}"
                          method="POST">
                        <div>
                            <div class="p-2 mt-4 flex flex-col text-gray-900">
                                <span class="pt-2 text-white text-2xl font-bold">Chọn khung giờ</span>
                                <template x-if="chosenTimeSlot != null">
                                    <div class="py-2">
                                        <input type="hidden" name="timeSlotId" x-model="chosenTimeSlot.id">
                                        <span class="pt-2 text-lg font-medium">Khung giờ đã chọn: </span>
                                        <span x-text="chosenTimeSlot.timeStart"></span>
                                        -
                                        <span x-text="chosenTimeSlot.timeEnd"></span>
                                    </div>
                                </template>
                                <template x-if="chosenTimeSlot == null">
                                    <div class="py-2">
                                        <input type="hidden" name="timeSlotId">
                                        <span class="pt-2 text-lg font-medium">Vui lòng chọn khung giờ để đăng ký. </span>
                                        <span>Không thể đăng ký khung giờ có màu xám.</span>
                                    </div>

                                </template>
                                <div class="flex justify-between">
                                    <button class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
                                            @click="morningTimeSlotTable = !morningTimeSlotTable"
                                            x-text="morningTimeSlotTable ? 'Đóng khung thời gian sáng' : 'Mở khung thời gian sáng'"
                                            type="button"
                                    ></button>
                                    <button class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                                            @click="nightTimeSlotTable = !nightTimeSlotTable"
                                            x-text="nightTimeSlotTable ? 'Đóng khung thời gian tối' : 'Mở khung thời gian tối'"
                                            type="button"
                                    ></button>
                                </div>
                                <!--Giờ nghỉ sáng-->
                                <div class="flex pt-4 pl-4 mt-4 text-2xl text-bold text-red-400 bg-gray-700"
                                     x-show="morningTimeSlotTable">Khung giờ nghỉ sáng
                                </div>
                                <div class="p-4 grid grid-cols-8 xl:text-sm gap-4 relative bg-gray-700"
                                     x-show="morningTimeSlotTable">
                                    <th:block th:each="timeSlot : ${timeSlotList}">
                                        <th:block th:if="${timeSlot.id <= 32}">
                                            <button type="button"
                                                    th:attr="data-id=${timeSlot.id}"
                                                    th:text="${#temporals.format(timeSlot.timeStart, 'HH:mm') + ' - ' + #temporals.format(timeSlot.timeEnd, 'HH:mm')}"
                                                    class="py-2 px-4 xl:py-1 xl:px-2 w-fit h-auto shadow-md no-underline rounded-full font-sans font-semibold text-sm hover:text-white focus:outline-none active:shadow-none mr-2"
                                                    th:classappend="${timeSlot.canRegister ? 'hover:bg-blue-500 timeSlotBtn bg-white' : 'pointer-events-none bg-gray-300'}"
                                                    @click="chooseTimeSlot"
                                            ></button>
                                        </th:block>

                                    </th:block>
                                </div>
                                <!--Giờ hành chính-->
                                <div class="flex pt-4 pl-4 mt-4 text-2xl text-bold text-green-400 bg-gray-700">Khung giờ
                                    hành chính
                                </div>
                                <div class="p-4 grid grid-cols-8 xl:text-sm gap-4 relative bg-gray-700">
                                    <th:block th:each="timeSlot : ${timeSlotList}">
                                        <th:block th:if="${timeSlot.id > 32 && timeSlot.id <= 72}">
                                            <button type="button"
                                                    th:attr="data-id=${timeSlot.id}"
                                                    th:text="${#temporals.format(timeSlot.timeStart, 'HH:mm') + ' - ' + #temporals.format(timeSlot.timeEnd, 'HH:mm')}"
                                                    class="py-2 px-4 xl:py-1 xl:px-2 w-fit h-auto shadow-md no-underline rounded-full font-sans font-semibold text-sm hover:text-white focus:outline-none active:shadow-none mr-2"
                                                    th:classappend="${timeSlot.canRegister ? 'hover:bg-blue-500 timeSlotBtn bg-white' : 'pointer-events-none bg-gray-300'}"
                                                    @click="chooseTimeSlot"
                                            ></button>
                                        </th:block>
                                    </th:block>
                                </div>
                                <!--Giờ nghỉ tối-->
                                <div class="flex pt-4 pl-4 mt-4 text-2xl text-bold text-blue-400 bg-gray-700"
                                     x-show="nightTimeSlotTable">Khung giờ nghỉ tối
                                </div>
                                <div class="p-4 grid grid-cols-8 xl:text-sm gap-4 relative bg-gray-700"
                                     x-show="nightTimeSlotTable">
                                    <th:block th:each="timeSlot : ${timeSlotList}">
                                        <th:block th:if="${timeSlot.id > 72}">
                                            <button type="button"
                                                    th:attr="data-id=${timeSlot.id}"
                                                    th:text="${#temporals.format(timeSlot.timeStart, 'HH:mm') + ' - ' + #temporals.format(timeSlot.timeEnd, 'HH:mm')}"
                                                    class="py-2 px-4 xl:py-1 xl:px-2 w-fit h-auto shadow-md no-underline rounded-full font-sans font-semibold text-sm hover:text-white focus:outline-none active:shadow-none mr-2"
                                                    th:classappend="${timeSlot.canRegister ? 'hover:bg-blue-500 timeSlotBtn bg-white' : 'pointer-events-none bg-gray-300'}"
                                                    @click="chooseTimeSlot"
                                            ></button>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                            <!--Button-->
                            <div class="flex p-2 mt-4 items-center justify-between">
                                <a th:href="${'/khach-hang/lich-trinh/them-lich-hen/chon-bac-si/' + appointmentId}"
                                   class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                    hover:bg-gray-200
                                    bg-white
                                    text-gray-700
                                    border duration-200 ease-in-out
                                    border-gray-600 transition"
                                >
                                    Previous
                                </a>
                                <button class="text-base ml-2 hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold
                                        text-white
                                        border duration-200 ease-in-out
                                        transition"
                                        :class="chosenTimeSlot != null ? 'border-green-600 bg-green-600 hover:bg-green-700' : 'border-gray-200 bg-gray-300 pointer-events-none'"
                                >Next
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Form 3: Điền thông tin -->
        <div th:if="${form == 3}">
            <!-- component -->
            <div class="p-5">
                <div class="mx-4 p-4">
                    <div class="flex items-center">
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600 bg-green-600 relative text-white">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none" stroke="currentColor">
                                    <circle cx="12" cy="7.858" r="2.5" stroke="currentColor" stroke-width="2"
                                            style="animation:slide 1s cubic-bezier(.83,-.07,0,1.04) both infinite alternate-reverse"/>
                                    <rect width="10" height="4" x="7" y="13.926" stroke="currentColor" stroke-width="2"
                                          rx="2"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn bác sĩ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-green-600 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="16" height="16" x="4" y="4" stroke="currentColor" stroke-width="1.5"
                                          rx="8"/>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                                          d="M12.021 12l2.325 2.325"/>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5"
                                          d="M12.021 12V6.84"
                                    />
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn khung giờ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-green-600 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <style> @keyframes check {
                                                to {
                                                    stroke-dashoffset: 0;
                                                }
                                            }</style>
                                    <rect width="10" height="14" x="7" y="5" stroke="rgb(22 163 74)" stroke-width="2"
                                          rx="1"/>
                                    <path stroke="rgb(22 163 74)" stroke-linecap="round" stroke-width="2"
                                          d="M10 8.973h4m-4 3.64h2"
                                          style="animation:check 3s infinite cubic-bezier(.99,-.1,.01,1.02)"
                                          stroke-dashoffset="100" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Thông tin
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
                        <div class="flex items-center text-gray-500 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <path stroke="rgb(209 213 219)" stroke-linecap="round" stroke-width="1.5"
                                          d="M5.387 12.68l3.955 3.956 9.271-9.272"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">
                                Xác nhận
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 p-4">
                    <!-- Form -->
                    <form th:action="${'/khach-hang/lich-trinh/them-lich-hen/dien-thong-tin/' + appointmentId}"
                          method="POST">
                        <div>
                            <div>
                                <div class="font-bold text-gray-600 text-2xs leading-8 uppercase h-6 my-3">Ghi chú</div>
                                <textarea
                                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        rows="3"
                                        name="note"
                                        placeholder="Ghi triệu chứng bạn gặp phải / Lý do đặt lịch hẹn (có thể bỏ qua)"
                                        th:inline="text"
                                >[[${note}]]</textarea>
                            </div>
                        </div>
                        <!--Button-->
                        <div class="flex p-2 mt-4 items-center justify-between">
                            <a th:href="${'/khach-hang/lich-trinh/them-lich-hen/chon-khung-gio/' + appointmentId}"
                               class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                hover:bg-gray-200
                                bg-white
                                text-gray-700
                                border duration-200 ease-in-out
                                border-gray-600 transition"
                            >
                                Previous
                            </a>
                            <button class="text-base ml-2 hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                hover:bg-green-700
                                bg-green-600
                                text-white
                                border duration-200 ease-in-out
                                border-green-600 transition"
                            >Next
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Form 4: Xác nhận -->
        <div th:if="${form == 4}">
            <!-- component -->
            <div class="p-5">
                <div class="mx-4 p-4">
                    <div class="flex items-center">
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600 bg-green-600 relative">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none" stroke="currentColor">
                                    <circle cx="12" cy="7.858" r="2.5" stroke="currentColor" stroke-width="2"
                                            style="animation:slide 1s cubic-bezier(.83,-.07,0,1.04) both infinite alternate-reverse"/>
                                    <rect width="10" height="4" x="7" y="13.926" stroke="currentColor" stroke-width="2"
                                          rx="2"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn bác sĩ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-green-600 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="16" height="16" x="4" y="4" stroke="currentColor" stroke-width="1.5"
                                          rx="8"/>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                                          d="M12.021 12l2.325 2.325"/>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="1.5"
                                          d="M12.021 12V6.84"
                                    />
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Chọn khung giờ
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-white relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-green-600 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <rect width="10" height="14" x="7" y="5" stroke="currentColor" stroke-width="2"
                                          rx="1"/>
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                          d="M10 8.973h4m-4 3.64h2"
                                          stroke-dashoffset="0" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Thông tin
                            </div>
                        </div>
                        <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-green-600"></div>
                        <div class="flex items-center text-green-600 relative">
                            <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-green-600">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="h-10 w-10 absolute top-1/2 left-1/2"
                                     style="transform: translate(-50%, -50%);"
                                     fill="none">
                                    <style>@keyframes check {
                                               to {
                                                   stroke-dashoffset: 0;
                                               }
                                           }</style>
                                    <path stroke="rgb(22 163 74)" stroke-linecap="round" stroke-width="1.5"
                                          d="M5.387 12.68l3.955 3.956 9.271-9.272"
                                          style="animation:check 2s infinite cubic-bezier(.99,-.1,.01,1.02)"
                                          stroke-dashoffset="100" stroke-dasharray="100"/>
                                </svg>
                            </div>
                            <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-green-600">
                                Xác nhận
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 p-4">
                    <!-- Form -->
                    <form th:action="${'/khach-hang/lich-trinh/them-lich-hen/xac-nhan-dieu-khoan/' + appointmentId}"
                          method="POST">
                        <div>
                            <div class="flex flex-col h-80 overflow-y-scroll text-gray-900">
                                <p class="text-2xl font-bold py-2">
                                    Điều khoản sử dụng
                                </p>
                                <p class="py-2">
                                    Tư vấn sức khỏe từ xa là việc thực hiện các Dịch vụ chăm sóc sức khỏe sử dụng công
                                    nghệ hình ảnh và âm thanh tương tác, khi mà bệnh nhân và các chuyên gia y tế không ở
                                    cùng một vị trí địa lý. <br>
                                    Trong thời gian bạn tham vấn chăm sóc sức khỏe từ xa với một Bác sĩ, chi tiết về
                                    tiền sử sức khỏe và thông tin sức khỏe cá nhân của bạn có thể sẽ được thảo luận
                                    thông qua việc sử dụng hình ảnh, âm thanh và các công nghệ viễn thông tương tác
                                    khác, và Bác sĩ của bạn có thể sẽ tiến hành tư vấn sức khỏe thông qua các công nghệ
                                    trên.
                                </p>
                                <p class="py-2">
                                    Các Dịch vụ Tư vấn sức khỏe từ xa bạn nhận được từ những Bác sĩ không dùng để thay
                                    thế mối quan hệ của bạn với bác sĩ hoặc cơ sở y tế.<br>
                                    Bạn nên tìm hỗ trợ cấp cứu hoặc chăm sóc sức khỏe sau khi điều trị khi được một Bác
                                    sĩ đề nghị hoặc khi cần thiết khác, và tiếp tục tham khảo ý kiến bác sĩ của bạn và
                                    các chuyên gia y tế khác như đã được khuyến cáo.<br>
                                    Tuy nhiên, giống như các loại hình Dịch vụ y tế khác, có các rủi ro tiềm ẩn gắn với
                                    việc sử dụng Dịch vụ chăm sóc sức khỏe từ xa. Những rủi ro này bao gồm, nhưng không
                                    chỉ giới hạn với:<br>
                                    <span class="font-bold">(i)</span> Thông tin được gửi có thể không đủ (ví dụ độ phân
                                    giải hình ảnh thấp) để Bác sĩ đưa ra quyết định chăm sóc sức khỏe phù hợp;<br>
                                    <span class="font-bold">(ii)</span> Thiết bị điện tử trục trặc.<br>
                                    <span class="font-bold">(iii)</span> Thông tin hồ sơ sức khỏe không đầy đủ của bạn
                                    có thể gây ra tương tác thuốc bất lợi hoặc các phản ứng dị ứng hoặc những lỗi phán
                                    đoán khác;<br>
                                    <span class="font-bold">(iv)</span> Mặc dù các hệ thống điện tử chúng tôi sử dụng sẽ
                                    tích hợp các giao thức mạng và phần mềm bảo mật để bảo vệ tính riêng tư và bảo mật
                                    thông tin y tế, trong một số trường hợp, các giao thức bảo mật có thể thất bại, dẫn
                                    đến một sư vi phạm quyền riêng tư về thông tin sức khỏe cá nhân.
                                </p>
                                <p class="py-2">
                                    Bằng việc chấp thuận các điều khoản sử dụng này, bạn thừa nhận rằng bạn hiểu và đồng
                                    ý với các điều sau:<br>
                                    <span class="font-bold">(i)</span> Bạn hiểu rằng bạn có thể trông đợi lợi ích dự
                                    kiến từ việc sử dụng chăm sóc sức khỏe từ xa trong việc chăm sóc của bạn, nhưng
                                    không kết quả nào có thể được đảm bảo chắc chắn.<br>
                                    <span class="font-bold">(ii)</span> Bạn phải chịu trách nhiệm thanh toán hoàn toàn
                                    các chi phí liên quan đến dịch vụ tư vấn sức khỏe từ xa<br>
                                    <span class="font-bold">(iii)</span> Bác sĩ của bạn có thể xác định rằng Dịch vụ
                                    không phù hợp đối với một số hoặc tất cả các nhu cầu chăm sóc và điều trị của bạn,
                                    theo đó có thể chọn không cung cấp Dịch vụ tư vấn sức khỏe từ xa cho bạn thông qua
                                    Trang hoặc yêu cầu bạn đến khám trực tiếp.<br>
                                    <span class="font-bold">(iv)</span> Nếu bạn phải điều trị cấp cứu, bạn nên gọi 115,
                                    các bệnh viện và phòng khám địa phương hoặc đi đến các phòng cấp cứu gần nhất.
                                </p>
                                <p class="text-2xl font-bold py-2">
                                    Quyền riêng tư
                                </p>
                                <p class="py-2">
                                    Bạn đồng ý nhập thông tin liên lạc của bạn, thông tin sức khỏe và hồ sơ y tế dưới
                                    các hình thức văn bản, hình ảnh, giọng nói hoặc video vào Trang và các ứng dụng của
                                    mHealth, các thông tin này sẽ được lưu trữ bởi mHealth, máy tính và các hệ thống
                                    điện toán đám mây của bên thứ ba.<br>
                                    Chúng tôi nỗ lực tối đa đảm bảo rằng thông tin cá nhân của bạn được an toàn.<br>
                                    Mặc dù việc nhắn tin điện tử được bảo mật luôn được ưu tiên hơn email không được bảo
                                    mật, trong những trường hợp nhất định, việc truyền thông qua email không được bảo
                                    mật có chứa thông tin sức khỏe cá nhân có thể xảy ra giữa bạn và mHealth.<br>
                                    mHealth không thể đảm bảo sự an toàn hoặc bảo mật của những thư đã gửi qua email.
                                </p>
                                <p class="py-2">
                                    GAM vô địch, SE tổn luồi!!!
                                </p>
                            </div>
                            <div class="w-full text-gray-900 mt-2">
                                <input type="checkbox" name="accept" id="term" x-model="termAccept" required>
                                <label for="term" class="cursor-pointer">Tôi đã đọc và đồng ý với điều khoản của bệnh
                                    viện</label>
                            </div>
                            <!--Button-->
                            <div class="flex p-2 mt-4 items-center justify-between">
                                <a th:href="${'/khach-hang/lich-trinh/them-lich-hen/dien-thong-tin/' + appointmentId}"
                                   class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                    hover:bg-gray-200
                                    bg-white
                                    text-gray-700
                                    border duration-200 ease-in-out
                                    border-gray-600 transition"
                                >
                                    Previous
                                </a>
                                <button class="text-base ml-2 hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
                                    text-white
                                    border duration-200 ease-in-out
                                    transition"
                                        :class="termAccept ? 'hover:bg-green-700 bg-green-600 border-green-600 ' : 'pointer-events-none hover:bg-gray-500 bg-gray-300 border-gray-300'"
                                >
                                    Next
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>