<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center  px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Hỗ trợ khách hàng</h1>
    </div>
    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex text-gray-600 bg-white">
            <div class="relative pt-2 ml-10">
                <form action="">
                </form>
            </div>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${conversationList.pageIndex == 0 && conversationList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">KHÁCH HÀNG</th>
                    <th class="text-left text-xs app-color-black pb-5">ĐIỆN THOẠI</th>
                    <th class="text-left text-xs app-color-black pb-5">TIN NHẮN</th>
                    <th class="text-left text-xs app-color-black pb-5">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${conversationList.data}">
                    <tr class="app-border-1">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
                            <th:block th:if="${item.customer != null}">
                                <div class="flex flex-row py-3">
                                    <img th:src="${item.customer.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                    <div class="flex flex-col">
                                    <span th:text="${item.customer.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                        <span th:text="${item.customer.gender ? 'Nam' : 'Nữ'}"
                                              class="font-semibold text-xs app-color-gray-1"></span>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${item.customer == null}">
                                <div class="flex flex-row py-3">
                                    <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                </div>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${item.customer != null}">
                                <span th:text="${item.customer.phone}" class="font-semibold text-sm app-color-gray-1"></span>
                            </th:block>
                            <th:block th:if="${item.customer != null}">
                                <span class="font-semibold text-sm app-color-gray-1 invisible"></span>
                            </th:block>
                        </td>
                        <td>
                            <span th:text="${item.lastMessage}" class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <a th:href="${'/cham-soc-khach-hang/ho-tro/' + item.id}" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                Chat
                            </a>
                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${conversationList.data.size() == 0}">
                    <tr>
                        <td colspan="10" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="~{fragments/admin/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>