<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Register Template</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <!-- Tailwind -->
    <link th:href="@{/css/tailwind.css}" th:rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body class="bg-white font-family-karla h-screen">
<!-- Toastr -->
    <!-- Failed toastr -->
    <div th:if="${toastr_signup_failed}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-red-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-red-500 text-white rounded-full h-6 px-3 justify-center items-center">Failed</span>
            <span class="inline-flex px-2">Đăng ký thất bại. Tên tài khoản đã có người dùng.</span>
        </div>
    </div>
<!-- End Toastr -->

<div class="h-screen bg-indigo-100 flex justify-center items-center">
    <div class="lg:w-2/5 md:w-1/2 w-2/3">
        <form class="bg-white p-10 pb-20 rounded-lg shadow-lg min-w-full relative" action="/dang-ky" method="POST">
            <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Đăng ký tham gia với chúng tôi ngay!</h1>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md font-sans">Tên đầy đủ</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="fullName" id="fullName" placeholder="Fullname" />
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md font-sans">Tên đăng nhập</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="username" id="username" placeholder="Username" />
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md font-sans">Mật khẩu</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="password" id="password" placeholder="Password" />
            </div>
            <div>
                <label class="text-gray-800 font-semibold block my-3 text-md font-sans">Xác nhận mật khẩu</label>
                <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="confirm-password" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Đăng ký</button>
        </form>
        <div class="px-10 min-w-full relative -mt-16 m-auto">
            <button onclick="window.location.href='login.html';" class="w-full bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Đăng nhập</button>
        </div>
    </div>
</div>

</body>
</html>