<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace = "~{fragments/supporter/header/headertop :: head}"></div>
    <title>Hỗ trợ khách hàng</title>
    <link th:href="@{/css/admin/danh-sach-lich-hen.css}" th:rel="stylesheet" >
</head>
<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}">
    <div class="flex min-h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div th:replace = "~{fragments/supporter/loading/loading :: loading}"></div>
        <!-- Sidebar -->
        <div th:replace = "~{fragments/supporter/sidebar/sidebar :: sidebar (page='ho-tro')}"></div>

        <div class="flex-1 min-h-full overflow-x-hidden overflow-y-auto relative pb-20">
            <!-- Navbar -->
            <div th:replace = "~{fragments/supporter/header/headertop :: header}"></div>
            <!-- Main content -->
            <main>
                <div th:replace = "~{fragments/supporter/pages/chat :: content}"></div>
            </main>

            <!-- Main footer -->
            <div th:replace = "~{fragments/supporter/footer/footer :: footer}"></div>
        </div>

        <!-- Panels -->
        <div th:replace = "~{fragments/supporter/panel/panel :: panel}"></div>
    </div>
</div>
<!-- Script -->
<div th:replace = "~{fragments/supporter/script/script :: script}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    var topicId = [[${conversationId}]];
    var userId = [[${userId}]];
</script>
<script th:src="@{/js/chat.js?v=2}"></script>
</body>
</html>