<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragments/customer/header/headertop :: head}"></div>
  <title>Chăm sóc khách hàng</title>
  <link th:href="@{/css/admin/danh-sach-lich-hen.css}" th:rel="stylesheet" >
</head>
<body x-data="setup()" x-init="setTimeout(() => showToastr = false, 3000);" x-cloak
      class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<div class="flex flex-col min-h-screen relative">
  <!--Header-->
  <div th:replace="~{fragments/customer/header/headertop :: header}"></div>
  <!--Content-->
  <div th:replace="~{fragments/customer/pages/cham-soc-khach-hang :: content}"></div>
  <!--Footer-->
  <div th:replace="~{fragments/customer/footer/footer :: footer}"></div>
  <!--Panel-->
  <div th:replace="~{fragments/customer/panel/panel :: panel}"></div>
  <!-- Script -->
  <div th:replace="~{fragments/customer/script/script :: script}"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
  var topicId = [[${conversationId}]];
  var userId = [[${userId}]];
</script>
<script th:src="@{/js/chat.js?v=2}"></script>
</body>

</html>