<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/customer/header/headertop :: head}"></div>
    <title>Danh sách lịch hẹn</title>
    <link th:href="@{/css/admin/danh-sach-lich-hen.css}" th:rel="stylesheet" >
</head>
<body x-data="setup()" x-init="setTimeout(() => showToastr = false, 3000);" x-cloak
      class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<div class="flex flex-col min-h-screen relative">
    <!--Header-->
    <div th:replace="~{fragments/customer/header/headertop :: header}"></div>
    <!--Content-->
    <div th:replace="~{fragments/customer/pages/trang-ca-nhan :: content}"></div>
    <!--Footer-->
    <div th:replace="~{fragments/customer/footer/footer :: footer}"></div>
    <!--Panel-->
    <div th:replace="~{fragments/customer/panel/panel :: panel}"></div>
    <!-- Script -->
    <div th:replace="~{fragments/customer/script/trang-ca-nhan-script :: script}"></div>
</div>
</body>

</html>