<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Danh sách lịch tăng ca</h1>
    </div>


    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex flex-col bg-white p-10 relative">
            <h1 class="float-right text-lg font-semibold pb-3">Lịch tăng ca hôm nay</h1>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY</th>
                    <th class="text-left text-xs app-color-black pb-5">THỜI GIAN BẮT ĐẦU</th>
                    <th class="text-left text-xs app-color-black pb-5">THỜI GIAN KẾT THÚC</th>
                    <th class="text-left text-xs app-color-black pb-5">TỔNG THỜI GIAN</th>
                    <th colspan="2" class="text-left text-xs app-color-black pb-5">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${todayScheduleList != null}">
                    <th:block th:each="item,index : ${todayScheduleList}">
                        <tr class="app-border-1 h-14">
                            <td>
                                <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 8h16M4 16h16"></path>
                                </svg>
                            </td>
                            <td>
                                <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                     class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold invisible"
                                     th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                                ></div>
                            </td>
                            <td>
                                <span th:text="${item.date}" class="font-semibold text-sm app-color-gray-1"></span>
                            </td>
                            <td>
                                <th:block th:if="${item.timeSlotDTOStart2 != null}">
                                    <div class="flex flex-col">
                                    <span th:text="${item.timeSlotDTOStart1.timeStart}"
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                        <span th:text="${item.timeSlotDTOStart2.timeStart}"
                                              class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    </div>
                                </th:block>
                                <th:block th:unless="${item.timeSlotDTOStart2 != null}">
                                <span th:text="${item.timeSlotDTOStart1.timeStart}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${item.timeSlotDTOEnd2 != null}">
                                    <div class="flex flex-col">
                                    <span th:text="${item.timeSlotDTOEnd1.timeEnd}"
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                        <span th:text="${item.timeSlotDTOEnd2.timeEnd}"
                                              class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    </div>
                                </th:block>
                                <th:block th:unless="${item.timeSlotDTOEnd2 != null}">
                                <span th:text="${item.timeSlotDTOEnd1.timeEnd}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${item.totalTime2 != null}">
                                    <div class="flex flex-col">
                                    <span th:with="hours=${item.totalTime1/ 60}"
                                          th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime1 % 60} < 10 ? '0' + ${item.totalTime1 % 60} : ${item.totalTime1 % 60}) "
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                        <span th:with="hours=${item.totalTime2/ 60}"
                                              th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime2 % 60} < 10 ? '0' + ${item.totalTime2 % 60} : ${item.totalTime2 % 60}) "
                                              class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    </div>
                                </th:block>
                                <th:block th:unless="${item.totalTime2 != null}">
                                <span th:with="hours=${item.totalTime1/ 60}"
                                      th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime1 % 60} < 10 ? '0' + ${item.totalTime1 % 60} : ${item.totalTime1 % 60}) "
                                      class="font-semibold text-sm app-color-gray-1"></span>
                                </th:block>

                            </td>
                            <td>
                                <th:block th:if="${item.date.isBefore(currentDate)}">
                                    <button class="flex bg-gray-500 text-white font-bold py-2 px-4 rounded pointer-events-none"
                                            th:attr="data-date=${item.date}"
                                            @click="openEdit">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pointer-events-none"
                                             fill="none">
                                            <g>
                                                <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="1.5" d="M9.5 7.307h5"/>
                                                <path stroke="#FFF" stroke-width="1.5"
                                                      d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                            </g>
                                        </svg>
                                        Sửa
                                    </button>
                                </th:block>
                                <th:block th:unless="${item.date.isBefore(currentDate)}">
                                    <button class="flex bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                            th:attr="data-date=${item.date}"
                                            @click="openEdit">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pointer-events-none"
                                             fill="none">
                                            <style>
                                                .rotate-right {
                                                    animation: rotate-right 1s cubic-bezier(1, -0.01, 0.13, 1.15) infinite alternate-reverse both;
                                                    transform-origin: top center;
                                                }

                                                @keyframes rotate-right {
                                                    0% {
                                                        transform: rotate(0);
                                                    }
                                                    25% {
                                                        transform: rotate(10deg);
                                                    }
                                                    50%
                                                    {
                                                        transform: rotate(0deg);
                                                    }
                                                    100%
                                                    {
                                                        transform: rotate(-10deg);
                                                    }
                                                }
                                            </style>
                                            <g class="rotate-right">
                                                <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="1.5" d="M9.5 7.307h5"/>
                                                <path stroke="#FFF" stroke-width="1.5"
                                                      d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                            </g>
                                        </svg>
                                        Sửa
                                    </button>
                                </th:block>

                            </td>
                            <td>
                                <th:block th:if="${item.date.isBefore(currentDate)}">
                                    <button type="submit"
                                            class="flex bg-gray-500 text-white font-bold py-2 px-4 rounded pointer-events-none"
                                    >
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="none">
                                            <path fill="#FFF"
                                                  d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                            <path fill="#FFF" fill-rule="evenodd"
                                                  d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                                  clip-rule="evenodd"
                                                  style="transform-origin:right center"/>
                                        </svg>
                                        Xóa
                                    </button>
                                </th:block>
                                <th:block th:unless="${item.date.isBefore(currentDate)}">
                                    <form th:action="@{'/bac-si/lich-trinh/lich-tang-ca/delete' }" method="POST">
                                        <input type="hidden" th:value="${item.date}" name="date">
                                        <button type="submit"
                                                class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                        >
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 fill="none">
                                                <style>@keyframes rotate-tr {
                                                           0% {
                                                               transform: rotate(0)
                                                           }
                                                           to {
                                                               transform: rotate(20deg)
                                                           }
                                                       }</style>
                                                <path fill="#FFF"
                                                      d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                                <path fill="#FFF" fill-rule="evenodd"
                                                      d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                                      clip-rule="evenodd"
                                                      style="animation:rotate-tr 1s cubic-bezier(1,-.28,.01,1.13) infinite alternate-reverse both;transform-origin:right center"/>
                                            </svg>
                                            Xóa
                                        </button>
                                    </form>
                                </th:block>

                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                                </svg>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                <th:block th:if="${todayScheduleList == null}">
                <tr>
                    <td colspan="9" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="flex text-gray-600 bg-white justify-between">
            <div class="relative pt-2 ml-10">
                <form action="">
                    <form action="">
                        <input type="date" name="date" onchange="this.form.submit()"
                               class="px-3 py-2 border border-gray-200 rounded text-center"
                               th:value="${date}"
                               required>
                    </form>
                </form>
            </div>
            <div class="pt-2 mr-10">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        @click="openInsert">
                    Thêm lịch tăng ca
                </button>
            </div>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${scheduleList.pageIndex == 0 && scheduleList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY</th>
                    <th class="text-left text-xs app-color-black pb-5">THỜI GIAN BẮT ĐẦU</th>
                    <th class="text-left text-xs app-color-black pb-5">THỜI GIAN KẾT THÚC</th>
                    <th class="text-left text-xs app-color-black pb-5">TỔNG THỜI GIAN</th>
                    <th colspan="2" class="text-left text-xs app-color-black pb-5">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${scheduleList.data}">
                    <tr class="app-border-1 h-14">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
                            <span th:text="${item.date}" class="font-semibold text-sm app-color-gray-1"></span>
                        </td>
                        <td>
                            <th:block th:if="${item.timeSlotDTOStart2 != null}">
                                <div class="flex flex-col">
                                    <span th:text="${item.timeSlotDTOStart1.timeStart}"
                                            class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    <span th:text="${item.timeSlotDTOStart2.timeStart}"
                                            class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                </div>
                            </th:block>
                            <th:block th:unless="${item.timeSlotDTOStart2 != null}">
                                <span th:text="${item.timeSlotDTOStart1.timeStart}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${item.timeSlotDTOEnd2 != null}">
                                <div class="flex flex-col">
                                    <span th:text="${item.timeSlotDTOEnd1.timeEnd}"
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    <span th:text="${item.timeSlotDTOEnd2.timeEnd}"
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                </div>
                            </th:block>
                            <th:block th:unless="${item.timeSlotDTOEnd2 != null}">
                                <span th:text="${item.timeSlotDTOEnd1.timeEnd}"
                                      class="font-semibold text-sm app-color-gray-1"></span>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${item.totalTime2 != null}">
                                <div class="flex flex-col">
                                    <span th:with="hours=${item.totalTime1/ 60}"
                                          th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime1 % 60} < 10 ? '0' + ${item.totalTime1 % 60} : ${item.totalTime1 % 60}) "
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                    <span th:with="hours=${item.totalTime2/ 60}"
                                          th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime2 % 60} < 10 ? '0' + ${item.totalTime2 % 60} : ${item.totalTime2 % 60}) "
                                          class="font-semibold text-sm app-color-gray-1 py-2"></span>
                                </div>
                            </th:block>
                            <th:block th:unless="${item.totalTime2 != null}">
                                <span th:with="hours=${item.totalTime1/ 60}"
                                      th:text="(${hours} < 10 ? '0' + ${hours} : ${hours}) + ':' + (${item.totalTime1 % 60} < 10 ? '0' + ${item.totalTime1 % 60} : ${item.totalTime1 % 60}) "
                                      class="font-semibold text-sm app-color-gray-1"></span>
                            </th:block>

                        </td>
                        <td>
                            <th:block th:if="${item.date.isBefore(currentDate)}">
                                <button class="flex bg-gray-500 text-white font-bold py-2 px-4 rounded pointer-events-none"
                                        th:attr="data-date=${item.date}"
                                        @click="openEdit">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pointer-events-none"
                                         fill="none">
                                        <g>
                                            <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M9.5 7.307h5"/>
                                            <path stroke="#FFF" stroke-width="1.5"
                                                  d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                        </g>
                                    </svg>
                                    Sửa
                                </button>
                            </th:block>
                            <th:block th:unless="${item.date.isBefore(currentDate)}">
                                <button class="flex bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                        th:attr="data-date=${item.date}"
                                        @click="openEdit">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="pointer-events-none"
                                         fill="none">
                                        <style>
                                            .rotate-right {
                                                animation: rotate-right 1s cubic-bezier(1, -0.01, 0.13, 1.15) infinite alternate-reverse both;
                                                transform-origin: top center;
                                            }

                                            @keyframes rotate-right {
                                                0% {
                                                    transform: rotate(0);
                                                }
                                                25% {
                                                    transform: rotate(10deg);
                                                }
                                                50%
                                                {
                                                    transform: rotate(0deg);
                                                }
                                                100%
                                                {
                                                    transform: rotate(-10deg);
                                                }
                                            }
                                        </style>
                                        <g class="rotate-right">
                                            <path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="1.5" d="M9.5 7.307h5"/>
                                            <path stroke="#FFF" stroke-width="1.5"
                                                  d="M9 5.5A1.5 1.5 0 0110.5 4h3A1.5 1.5 0 0115 5.5v11.3a1.5 1.5 0 01-.54 1.152l-1.5 1.249a1.5 1.5 0 01-1.92 0l-1.5-1.249A1.5 1.5 0 019 16.8V5.5z"/>
                                        </g>
                                    </svg>
                                    Sửa
                                </button>
                            </th:block>

                        </td>
                        <td>
                            <th:block th:if="${item.date.isBefore(currentDate)}">
                                <button type="submit"
                                        class="flex bg-gray-500 text-white font-bold py-2 px-4 rounded pointer-events-none"
                                >
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         fill="none">
                                        <path fill="#FFF"
                                              d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                        <path fill="#FFF" fill-rule="evenodd"
                                              d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                              clip-rule="evenodd"
                                              style="transform-origin:right center"/>
                                    </svg>
                                    Xóa
                                </button>
                            </th:block>
                            <th:block th:unless="${item.date.isBefore(currentDate)}">
                                <form th:action="@{'/bac-si/lich-trinh/lich-tang-ca/delete' }" method="POST">
                                    <input type="hidden" th:value="${item.date}" name="date">
                                    <button type="submit"
                                            class="flex bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                    >
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="none">
                                            <style>@keyframes rotate-tr {
                                                       0% {
                                                           transform: rotate(0)
                                                       }
                                                       to {
                                                           transform: rotate(20deg)
                                                       }
                                                   }</style>
                                            <path fill="#FFF"
                                                  d="M16.773 10.083a.75.75 0 00-1.49-.166l1.49.166zm-1.535 7.027l.745.083-.745-.083zm-6.198 0l-.745.083.745-.083zm-.045-7.193a.75.75 0 00-1.49.166l1.49-.166zm5.249 7.333h-4.21v1.5h4.21v-1.5zm1.038-7.333l-.79 7.11 1.491.166.79-7.11-1.49-.166zm-5.497 7.11l-.79-7.11-1.49.166.79 7.11 1.49-.165zm.249.223a.25.25 0 01-.249-.222l-1.49.165a1.75 1.75 0 001.739 1.557v-1.5zm4.21 1.5c.892 0 1.64-.67 1.74-1.557l-1.492-.165a.25.25 0 01-.248.222v1.5z"/>
                                            <path fill="#FFF" fill-rule="evenodd"
                                                  d="M11 6a1 1 0 00-1 1v.25H7a.75.75 0 000 1.5h10a.75.75 0 000-1.5h-3V7a1 1 0 00-1-1h-2z"
                                                  clip-rule="evenodd"
                                                  style="animation:rotate-tr 1s cubic-bezier(1,-.28,.01,1.13) infinite alternate-reverse both;transform-origin:right center"/>
                                        </svg>
                                        Xóa
                                    </button>
                                </form>
                            </th:block>

                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${scheduleList.data.size() == 0}">
                    <tr>
                        <td colspan="9" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace = "~{fragments/admin/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>
