<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Content header -->
    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="float-right mr-5 text-2xl font-semibold">Danh sách lịch hẹn</h1>
    </div>

    <div class="flex flex-col app-bg-white-1 px-12 pb-10 mt-6">
        <div class="flex text-gray-600 bg-white">
            <div class="relative pt-2 ml-10">
                <form action="">
                    <input type="date" name="date" onchange="this.form.submit()"
                           class="px-3 py-2 border border-gray-200 rounded text-center"
                           th:value="${date}"
                           required>
                </form>
            </div>
        </div>
        <div class="flex flex-row bg-white p-10 relative">
            <th:block th:if="${scheduleList.pageIndex == 0 && scheduleList.totalRecords > 0}">
                <div class="absolute app-bg-yellow-3 text-xs font-semibold px-3 py-0.5 rounded-br-md rounded-tl-md text-white"
                     style="top: 76px;">Mới
                </div>
            </th:block>
            <table class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-left text-xs app-color-black pb-5">BÁC SĨ</th>
                    <th class="text-left text-xs app-color-black pb-5">KHÁCH HÀNG</th>
                    <th class="text-left text-xs app-color-black pb-5">ĐIỆN THOẠI</th>
                    <th class="text-left text-xs app-color-black pb-5">NGÀY</th>
                    <th class="text-left text-xs app-color-black pb-5">KHUNG GIỜ</th>
                    <th class="text-left text-xs app-color-black pb-5">KẾT THÚC</th>
                    <th class="text-left text-xs app-color-black pb-5">TRẠNG THÁI</th>
                    <th class="text-left text-xs app-color-black pb-5">HÀNH ĐỘNG</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,index : ${scheduleList.data}">
                    <tr class="app-border-1">
                        <td>
                            <svg class="w-6 h-6 app-color-blue-3 ml-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 8h16M4 16h16"></path>
                            </svg>
                        </td>
                        <td>
                            <div th:text="*{index.count + (page.currentPage - 1) * 10}"
                                 class="flex justify-center items-center rounded-md w-8 h-8 text-lg font-semibold"
                                 th:classappend="${index.count % 2 == 0 ? 'app-bg-blue-2 app-color-blue-3' : 'app-bg-yellow-2 app-color-yellow-1'}"
                            ></div>
                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:if="${item.doctor != null}">
                                    <div class="flex flex-row py-3">
                                        <img th:src="${item.doctor.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                        <div class="flex flex-col">
                                    <span th:text="${item.doctor.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                            <span th:text="${item.doctor.gender ? 'Nam' : 'Nữ'}"
                                                  class="font-semibold text-xs app-color-gray-1"></span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${item.doctor == null}">
                                    <div class="flex flex-row py-3">
                                        <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                    </div>
                                </th:block>
<!--                            </a>-->
                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:if="${item.customer != null}">
                                    <div class="flex flex-row py-3">
                                        <img th:src="${item.customer.avatar}" class="mr-5 w-10 h-10 bg-gray-100 rounded-full">
                                        <div class="flex flex-col">
                                    <span th:text="${item.customer.fullName}"
                                          class="font-semibold text-sm app-color-black"></span>
                                            <span th:text="${item.customer.gender ? 'Nam' : 'Nữ'}"
                                                  class="font-semibold text-xs app-color-gray-1"></span>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${item.customer == null}">
                                    <div class="flex flex-row py-3">
                                        <img class="mr-5 w-10 h-10 bg-gray-100 rounded-full invisible">
                                    </div>
                                </th:block>
<!--                            </a>-->
                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:if="${item.customer != null}">
                                    <span th:text="${item.customer.phone}" class="font-semibold text-sm app-color-gray-1"></span>
                                </th:block>
                                <th:block th:if="${item.customer != null}">
                                    <span class="font-semibold text-sm app-color-gray-1 invisible"></span>
                                </th:block>
<!--                            </a>-->
                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <span th:text="${item.date}" class="font-semibold text-sm app-color-gray-1"></span>
<!--                            </a>-->

                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:if="${item.timeSlot != null}">
                                <span class="font-semibold text-sm app-color-gray-1">
                                    <span th:text="${item.timeSlot.timeStart}"></span>
                                    -
                                    <span th:text="${item.timeSlot.timeEnd}"></span>
                                </span>
                                </th:block>
                                <th:block th:if="${item.timeSlot == null}">
                                    <span class="font-semibold text-sm invisible">00:00 - 00:00</span>
                                </th:block>
<!--                            </a>-->

                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:if="${item.timeEnd != null}">
                                    <div th:text="${item.timeEnd}" class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md"></div>
                                </th:block>
                                <th:block th:if="${item.timeEnd == null}">
                                    <div class="text-gray-900 app-bg-red-2 h-8 w-28 font-semibold text-sm flex justify-center items-center app-color-red-1 rounded-md invisible"></div>
                                </th:block>
<!--                            </a>-->
                        </td>
                        <td>
<!--                            <a th:href="${'/quan-tri-vien/lich-trinh/danh-sach-lich-hen/chi-tiet/' + item.id}">-->
                                <th:block th:switch="${item.status}">
                                    <span th:case="1" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                    <span th:case="2" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                    <span th:case="3" class="font-semibold text-sm text-yellow-500">Nháp</span>
                                    <span th:case="4" class="font-semibold text-sm text-blue-500">Chờ duyệt</span>
                                    <span th:case="5" class="font-semibold text-sm text-yellow-500">Trả về</span>
                                    <span th:case="6" class="font-semibold text-sm text-green-500">Hoạt động</span>
                                    <span th:case="7" class="font-semibold text-sm text-red-500">Hủy bỏ</span>
                                    <span th:case="8" class="font-semibold text-sm text-red-500">Từ chối</span>
                                    <span th:case="9" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                                    <span th:case="10" class="font-semibold text-sm text-green-700">Hoàn thành</span>
                                </th:block>
<!--                            </a>-->

                        </td>
                        <td>
                            <th:block th:if="${(item.timeEnd == 'Đang diễn ra' || item.timeEnd == 'Đã kết thúc') && item.status != 9}">
                                <form th:action="${'/bac-si/lich-trinh/lich-hen/hoan-thanh/' + item.id}" method="POST">
                                    <button class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                        Hoàn thành
                                    </button>
                                </form>
                            </th:block>

                        </td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 app-color-blue-3" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                            </svg>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${scheduleList.data.size() == 0}">
                    <tr>
                        <td colspan="10" class="app-border-1 text-center font-medium py-2">Danh sách rỗng</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="~{fragments/admin/pagination/pagination :: pagination}"></div>
    </div>
</div>
</body>
</html>