<!DOCTYPE html>
<html lang="en">
<head>
    <meta th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" type="image/png" href="/images/icon.png"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <link th:href="@{/css/tailwind.css}" th:rel="stylesheet"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"/>
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.7.1/cdn.js" integrity="sha512-zJzbiPdmFRrJiIGMMV5/aXjdQTHKoZvXC+6p+8TYo9ZupZGpG1jhyk4mEv1xG/tsuA/fBUoLM6Be1BhIRMMzqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/js/splide/dist/css/splide.min.css}">
    <link rel="stylesheet" th:href="@{/js/splide/dist/css/themes/splide-skyblue.min.css}">
    <style>
        .gradient {
            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        }
    </style>
    </meta>
</head>
<body>
<div th:fragment="header" id="header" class="fixed w-full z-30 top-0 text-white transition-colors duration-500" :class="{ 'bg-white shadow' : showBar }"
     @scroll.window="showBar = (window.pageYOffset > 20) ? true : false">
    <!-- Toastr -->
    <!-- Success toastr -->
    <div th:if="${toastr_insert_success}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-green-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-green-500 text-white rounded-full h-6 px-3 justify-center items-center">Success</span>
            <span class="inline-flex px-2">Thêm thành công.</span>
        </div>
    </div>
    <div th:if="${toastr_update_success}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-green-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-green-500 text-white rounded-full h-6 px-3 justify-center items-center">Success</span>
            <span class="inline-flex px-2">Sửa thành công.</span>
        </div>
    </div>
    <div th:if="${toastr_delete_success}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-green-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-green-500 text-white rounded-full h-6 px-3 justify-center items-center">Success</span>
            <span class="inline-flex px-2">Xóa thành công.</span>
        </div>
    </div>
    <div th:if="${toastr_custom_success}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-green-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-green-500 text-white rounded-full h-6 px-3 justify-center items-center">Success</span>
            <span class="inline-flex px-2" th:text="${toastr_custom_success}"></span>
        </div>
    </div>
    <!-- Failed toastr -->
    <div th:if="${toastr_insert_failed}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-red-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-red-500 text-white rounded-full h-6 px-3 justify-center items-center">Failed</span>
            <span class="inline-flex px-2">Thêm thất bại.</span>
        </div>
    </div>
    <div th:if="${toastr_update_failed}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-red-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-red-500 text-white rounded-full h-6 px-3 justify-center items-center">Failed</span>
            <span class="inline-flex px-2">Sửa thất bại.</span>
        </div>
    </div>
    <div th:if="${toastr_delete_failed}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-red-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-red-500 text-white rounded-full h-6 px-3 justify-center items-center">Failed</span>
            <span class="inline-flex px-2">Xóa thất bại.</span>
        </div>
    </div>
    <div th:if="${toastr_custom_failed}" class="p-2 fixed bottom-5 right-10 z-50 transition-opacity duration-500" :class=" showToastr ? 'opacity-100' : 'opacity-0'">
        <div class="inline-flex items-center bg-white leading-none text-red-500 rounded-full p-2 shadow text-teal text-sm">
            <span class="inline-flex bg-red-500 text-white rounded-full h-6 px-3 justify-center items-center">Failed</span>
            <span class="inline-flex px-2" th:text="${toastr_custom_failed}"></span>
        </div>
    </div>
    <!-- End Toastr -->
    <style>
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    </style>
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
            <a class="toggleColour no-underline hover:no-underline font-bold text-2xl transition-colors duration-500" :class=" showBar ? 'text-black' : 'text-white'" href="#">
                <img src="/images/logo.png" class="h-12 inline-block" alt="">
                <span class="font-serif font-thin">DATE</span>
                <span class="font-sans font-black tracking-tighter">A LIVE</span>
            </a>
        </div>
        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                    class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
             id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center" >
                <li @mouseover="notificationTooltip = true" @mouseleave="notificationTooltip = false" class="relative">
                    <!-- Notification button -->
                    <button
                            @click="openNotificationsPanel"
                            class="p-2 transition-colors duration-200 rounded-full text-primary-lighter bg-primary-50 hover:text-primary hover:bg-primary-100 dark:hover:text-light dark:hover:bg-primary-dark dark:bg-dark focus:outline-none focus:bg-primary-100 dark:focus:bg-primary-dark focus:ring-primary-darker"
                    >
                        <span class="sr-only">Open Notification panel</span>
                        <!-- No notify -->
                        <th:block th:if="${unread == true}">
                            <svg
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-7 h-7"
                                    fill="none">
                                <style>
                                    @keyframes notify {
                                        0%, to {
                                            transform: rotate(0deg);
                                            transform-origin: top center
                                        }
                                        10%, 90% {
                                            transform: rotate(2deg)
                                        }
                                        20%, 40%, 60% {
                                            transform: rotate(-6deg)
                                        }
                                        30%, 50%, 70% {
                                            transform: rotate(6deg)
                                        }
                                        80% {
                                            transform: rotate(-2deg)
                                        }
                                    }</style>
                                <g style="animation:notify 1s cubic-bezier(.455,.03,.515,.955) both infinite"
                                   stroke-width="1.5">
                                    <path stroke="#0A0A30"
                                          d="M12.29 3.398a5 5 0 00-5 5v2c0 .758-.441 1.505-1.005 2.012a3 3 0 002.005 5.232h8a3 3 0 002.006-5.232c-.564-.507-1.005-1.254-1.005-2.012v-2a5 5 0 00-5-5z"/>
                                    <path stroke="#265BFF" stroke-linecap="round"
                                          d="M14.68 20.312l-.042.01a9.713 9.713 0 01-4.67-.01"/>
                                </g>
                            </svg>
                        </th:block>
                        <th:block th:unless="${unread == true}">
                            <svg
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-7 h-7"
                                    fill="none">
                                <style>@keyframes n-snooze {
                                           0% {
                                               transform: scale(.2);
                                               opacity: .8
                                           }
                                           80% {
                                               transform: scale(1.2);
                                               opacity: 1
                                           }
                                           to {
                                               transform: scale(1.2);
                                               opacity: 0
                                           }
                                       }</style>
                                <path stroke="#0A0A30" stroke-width="1.5"
                                      d="M12 3.398a5 5 0 00-5 5v2c0 .758-.442 1.505-1.005 2.012A3 3 0 008 17.642h8a3 3 0 002.005-5.232C17.442 11.903 17 11.156 17 10.398v-2a5 5 0 00-5-5z"/>
                                <path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5"
                                      d="M14.39 20.312l-.043.01a9.714 9.714 0 01-4.67-.01"/>
                                <path fill="#265BFF"
                                      d="M14.48 13.918H9.676l2.648-3.642H9.677v-.911h4.802l-2.639 3.641h2.64v.912z"
                                      style="animation:n-snooze 1.5s cubic-bezier(.165,.84,.44,1) infinite both;transform-origin:center center"/>
                            </svg>
                        </th:block>
                    </button>
                    <div class="relative" x-cloak x-show.transition.origin.top="notificationTooltip">
                        <div class="absolute left-1/2 top-0 z-10 w-max p-2 -mt-1 text-sm leading-tight text-white transform -translate-x-1/2 bg-black rounded-full">
                            Thông báo
                        </div>
                    </div>
                </li>
                <li x-on:mouseover="appointmentTooltip = true" x-on:mouseleave="appointmentTooltip = false">
                    <!-- Appointment button -->
                    <a href="/khach-hang/lich-trinh">
                        <button
                                class="p-2 transition-colors duration-200 rounded-full text-primary-lighter bg-primary-50 hover:text-primary hover:bg-primary-100 dark:hover:text-light dark:hover:bg-primary-dark dark:bg-dark focus:outline-none focus:bg-primary-100 dark:focus:bg-primary-dark focus:ring-primary-darker"
                        >
                            <span class="sr-only">Open search panel</span>
                            <svg
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-7 h-7"
                                    fill="none">
                                <style>@keyframes rotate {
                                           0% {
                                               transform: rotate(0)
                                           }
                                           to {
                                               transform: rotate(360deg)
                                           }
                                       }</style>
                                <rect width="16" height="16" x="4" y="4" stroke="#0A0A30" stroke-width="1.5" rx="8"/>
                                <path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5"
                                      d="M12.021 12l2.325 2.325"/>
                                <path stroke="#265BFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                      d="M12.021 12V6.84"
                                      style="animation:rotate 2s linear infinite both;transform-origin:center"/>
                            </svg>
                        </button>
                    </a>

                    <div class="relative" x-cloak x-show.transition.origin.top="appointmentTooltip">
                        <div class="absolute left-1/2 top-0 z-10 w-max p-2 -mt-1 text-sm leading-tight text-white transform -translate-x-1/2 bg-black rounded-full">
                            Đặt lịch hẹn
                        </div>
                    </div>
                </li>
                <li x-on:mouseover="settingTooltip = true" x-on:mouseleave="settingTooltip = false">
                    <!-- Settings button -->
                    <button
                            @click="openSettingsPanel"
                            class="p-2 transition-colors duration-200 rounded-full text-primary-lighter bg-primary-50 hover:text-primary hover:bg-primary-100 dark:hover:text-light dark:hover:bg-primary-dark dark:bg-dark focus:outline-none focus:bg-primary-100 dark:focus:bg-primary-dark focus:ring-primary-darker"
                    >
                        <span class="sr-only">Open settings panel</span>
                        <svg
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-7 h-7"
                                fill="none">
                            <style>@keyframes rotate {
                                       0% {
                                           transform: rotateZ(0)
                                       }
                                       to {
                                           transform: rotateZ(360deg)
                                       }
                                   }</style>
                            <g style="animation:rotate 3s cubic-bezier(.7,-.03,.26,1.05) both infinite;transform-origin:center center"
                               stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <path stroke="#0A0A30"
                                      d="M5.262 15.329l.486.842a1.49 1.49 0 002.035.55 1.486 1.486 0 012.036.529c.128.216.197.463.2.714a1.493 1.493 0 001.493 1.536h.979a1.486 1.486 0 001.485-1.493 1.493 1.493 0 011.493-1.471c.252.002.498.071.714.2a1.493 1.493 0 002.036-.55l.521-.857a1.493 1.493 0 00-.542-2.036 1.493 1.493 0 010-2.586c.71-.41.952-1.318.543-2.028l-.493-.85a1.493 1.493 0 00-2.036-.579 1.479 1.479 0 01-2.029-.543 1.428 1.428 0 01-.2-.714c0-.825-.668-1.493-1.492-1.493h-.98c-.82 0-1.488.664-1.492 1.486a1.485 1.485 0 01-1.493 1.493 1.521 1.521 0 01-.714-.2 1.493 1.493 0 00-2.036.542l-.514.858a1.486 1.486 0 00.543 2.035 1.486 1.486 0 01.543 2.036c-.13.226-.317.413-.543.543a1.493 1.493 0 00-.543 2.028v.008z"
                                      clip-rule="evenodd"/>
                                <path stroke="#265BFF"
                                      d="M12.044 10.147a1.853 1.853 0 100 3.706 1.853 1.853 0 000-3.706z"/>
                            </g>
                        </svg>
                    </button>
                    <div class="relative" x-cloak x-show.transition.origin.top="settingTooltip">
                        <div class="absolute left-1/2 top-0 z-10 w-max p-2 -mt-1 text-sm leading-tight text-white transform -translate-x-1/2 bg-black rounded-full">
                            Cài đặt
                        </div>
                    </div>
                </li>
            </ul>


            <div sec:authorize="isAuthenticated()">
                <!-- User avatar button -->
                <div class="relative" x-data="{ open: false }">
                    <button
                            @click="open = !open; $nextTick(() => { if(open){ $refs.userMenu.focus() } })"
                            type="button"
                            aria-haspopup="true"
                            :aria-expanded="open ? 'true' : 'false'"
                            class="transition-opacity duration-200 rounded-full dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100"
                    >
                        <span class="sr-only">User menu</span>
                        <img class="w-10 h-10 rounded-full" th:src="${user.avatar}"
                             alt="Ahmed Kamel"/>
                    </button>

                    <!-- User dropdown menu -->
                    <div
                            x-show="open"
                            x-ref="userMenu"
                            x-transition:enter="transition-all transform ease-out"
                            x-transition:enter-start="translate-y-1/2 opacity-0"
                            x-transition:enter-end="translate-y-0 opacity-100"
                            x-transition:leave="transition-all transform ease-in"
                            x-transition:leave-start="translate-y-0 opacity-100"
                            x-transition:leave-end="translate-y-1/2 opacity-0"
                            @click.away="open = false"
                            @keydown.escape="open = false"
                            class="absolute right-0 w-48 py-1 bg-white rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 dark:bg-dark focus:outline-none z-50"
                            tabindex="-1"
                            role="menu"
                            aria-orientation="vertical"
                            aria-label="User menu"
                    >
                        <a
                                href="/khach-hang/trang-ca-nhan"
                                role="menuitem"
                                class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Trang cá nhân
                        </a>
                        <!-- Region điều hướng trang nhân viên -->
                        <a sec:authorize="hasRole('ROLE_ADMIN')"
                           href="/quan-tri-vien"
                           role="menuitem"
                           class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Trang quản trị
                        </a>
                        <a sec:authorize="hasRole('ROLE_DOCTOR')"
                           href="/bac-si"
                           role="menuitem"
                           class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Trang bác sĩ
                        </a>
                        <a sec:authorize="hasRole('ROLE_SUPPORTER')"
                           href="/cham-soc-khach-hang"
                           role="menuitem"
                           class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Trang chăm sóc khách hàng
                        </a>
                        <a sec:authorize="hasRole('ROLE_CUSTOMER')"
                           href="/khach-hang/cham-soc-khach-hang"
                           role="menuitem"
                           class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Chăm sóc khách hàng
                        </a>
                        <!-- End region -->
                        <a
                                href="/logout"
                                role="menuitem"
                                class="block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                        >
                            Logout
                        </a>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <a
                        class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                        href="/dang-nhap"
                >
                    Login
                </a>
            </div>


        </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0"/>
</div>
</body>
</html>