<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace = "~{fragments/doctor/header/headertop :: head}"></div>
    <title>Lịch tăng ca</title>
    <link th:href="@{/css/admin/danh-sach-lich-hen.css}" th:rel="stylesheet" >
</head>
<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color); morningMintrigger(); morningMaxtrigger(); setTimeout(() => showToastr = false, 3000);" :class="{ 'dark': isDark}">
    <div class="flex min-h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div th:replace = "~{fragments/doctor/loading/loading :: loading}"></div>
        <!-- Sidebar -->
        <div th:replace = "~{fragments/doctor/sidebar/sidebar :: sidebar (page='lich-tang-ca')}"></div>

        <div class="flex-1 min-h-full overflow-x-hidden overflow-y-auto relative pb-20">
            <!-- Navbar -->
            <div th:replace = "~{fragments/doctor/header/headertop :: header}"></div>
            <!-- Main content -->
            <main>
                <div th:replace = "~{fragments/doctor/pages/lich-tang-ca :: content}"></div>
            </main>

            <!-- Main footer -->
            <div th:replace = "~{fragments/doctor/footer/footer :: footer}"></div>
            <!-- Modals -->
            <div th:replace = "~{fragments/doctor/modal/modal :: overtimeScheduleModal}"></div>
            <!-- Modals -->
            <div th:replace = "~{fragments/doctor/modal/modal :: editOvertimeScheduleModal}"></div>
        </div>

        <!-- Panels -->
        <div th:replace = "~{fragments/doctor/panel/panel :: panel}"></div>
    </div>
</div>
<!-- Script -->
<script th:inline="javascript">
    var morningMinTime = [[${morningMinTime}]];
    var morningMaxTime = [[${morningMaxTime}]];
    var morningTimeSlotList = [[${morningWorkTimeSlotList}]];
    var scheduleList = [[${scheduleList.data}]];
    var nightMinTime = [[${nightMinTime}]];
    var nightMaxTime = [[${nightMaxTime}]];
    var nightTimeSlotList = [[${nightWorkTimeSlotList}]];
</script>
<div th:replace = "~{fragments/doctor/script/lich-tang-ca-script :: script}"></div>
</body>
</html>